<div class="bundle-tab">
    <div class="bundle-title">
        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Title_Lines.png?v=1700730542">
        <div class="text">FAN FAVOURITE <br>BUNDLES</div>
        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Title_Lines.png?v=1700730542">
    </div>
    <div class="bundle-subtitle">
        All popular combos with one click. You can remove any product from the bunldes you don't need from the cart.
    </div>
    <div class="bundle-tab__tabs">
        <div class="bundle-tab__tabs--navigation">
            <div class="bundle-tab__tabs--navigation__single active js-bundle-tab" data-tab=".tab1">
                Popular pairs
            </div>
            <div class="bundle-tab__tabs--navigation__single js-bundle-tab" data-tab=".tab2">
                Gift bundles
            </div>
            <div class="bundle-tab__tabs--navigation__single js-bundle-tab" data-tab=".tab3">
                Mega bundles
            </div>
        </div>
        <div class="bundle-tab__tabs--content active tab1">
            <div class="bundle-tab__tabs--content__single js-wrapper-product" >
             
                <div class="product-overlay">
                    <div class="close">
                        {% render 'icon-close' %}
                    </div>
                    <div class="product-overlay-image">
                        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_cable_plug_bundle_fan_favourite_card.jpg?v=1700817608">
                    </div>
                </div>
                <div class="bundle-tab__tabs--content__single--image product-overlay-trigger relative">
                    <div class="info-icon">i</div>
                    <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/CABLE_PLUG_POPULAR_COMBO.jpg?v=1700777816">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Cables + Plug
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>3x</span> 6ft Titan Cable</li>
                        <li><span>1x</span> 45W PD Plug</li>
                        
                    </ul>
                </div>
                <div class="phone-selector-title">Choose Cable Type:</div>
                <div class="phone-selector">
                    <div data-select-ids="37383457628338,17431305298098" class="js-phone-select active">Iphone</div>
                    <div data-select-ids="37867505868978,17431305298098" class="js-phone-select">USB-C</div>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="37383457628338,17431305298098">ADD ALL TO OFFER</button>
                </div>
            </div>
            <div class="bundle-tab__tabs--content__single js-wrapper-product">
                <div class="product-overlay">
                    <div class="close">
                        {% render 'icon-close' %}
                    </div>
                    <div class="product-overlay-image">
                        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/buds_and_wireless_dock_fan_favourite_card.jpg?v=1700817645">
                    </div>
                </div>
                <div class="bundle-tab__tabs--content__single--image product-overlay-trigger relative">
                    <div class="info-icon">i</div>
                    <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Buds_folding_POPULAR_COMBO.jpg?v=1700777816">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Buds + Wireless Dock
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>1x</span> Titan Buds 2.0</li>
                        <li><span>1x</span> 3-in-1 Foldable Dock</li>
                    </ul>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="17689660072114,17671864852658">ADD ALL TO OFFER</button>
                </div>
            </div>
        </div>
        <div class="bundle-tab__tabs--content bundle-tab__tabs--content__three tab2">
            <div class="bundle-tab__tabs--content__single bundle-tab__tabs--content__three__single js-wrapper-product">
                <div class="product-overlay">
                    <div class="close">
                        {% render 'icon-close' %}
                    </div>
                    <div class="product-overlay-image">
                        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/nomad_bundle_card.jpg?v=1700817743">
                    </div>
                </div>
                <div class="bundle-tab__tabs--content__single--image product-overlay-trigger relative">
                    <div class="info-icon">i</div>
                    <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/nomad_bundle_1.jpg?v=1700778176">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Nomad Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>2x</span> 6ft Titan Cable</li>
                        <li><span>1x</span> Titan Travel Kit</li>
                        <li><span>1x</span> 3-in-1 Foldable Dock</li>
                        <li><span>1x</span> Titan Buds 2.0</li>
                    </ul>
                </div>
                <div class="phone-selector-title">Choose Cable Type:</div>
                <div class="phone-selector">
                    <div data-select-ids="27383457628338,17863405838514,17671864852658,17689660072114" class="js-phone-select active">Iphone</div>
                    <div data-select-ids="27867505868978,17863405838514,17671864852658,17689660072114" class="js-phone-select">USB-C</div>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="27383457628338,17863405838514,17671864852658,17689660072114">ADD ALL TO OFFER</button>
                </div>
            </div>
            <div class="bundle-tab__tabs--content__single bundle-tab__tabs--content__three__single js-wrapper-product">
                <div class="product-overlay">
                    <div class="close">
                        {% render 'icon-close' %}
                    </div>
                    <div class="product-overlay-image">
                        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/gamers_bundle_card.jpg?v=1700817769">
                    </div>
                </div>
                <div class="bundle-tab__tabs--content__single--image product-overlay-trigger relative">
                    <div class="info-icon">i</div>
                    <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/gamers_bundle.jpg?v=1700777816">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Gamers Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>3x</span> 6ft Titan Cable</li>
                        <li><span>1x</span> 45W PD Plug</li>
                        <li><span>1x</span> 3-in-1 Multi Cable™</li>
                        <li><span>1x</span> 3-in-1 Wireless Dock</li>
                    </ul>
                </div>
                <div class="phone-selector-title">Choose Cable Type:</div>
                <div class="phone-selector">
                    <div data-select-ids="37383457628338,17431305298098,17383363682482,17530094919858" class="js-phone-select active">Iphone</div>
                    <div data-select-ids="37867505868978,17431305298098,17383363682482,17530094919858" class="js-phone-select">USB-C</div>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="37383457628338,17431305298098,17383363682482,17530094919858">ADD ALL TO OFFER</button>
                </div>
            </div>
            <div class="bundle-tab__tabs--content__single bundle-tab__tabs--content__three__single js-wrapper-product">
                <div class="product-overlay">
                    <div class="close">
                        {% render 'icon-close' %}
                    </div>
                    <div class="product-overlay-image">
                        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/social_butterfly_bundle_card.jpg?v=1700817683">
                    </div>
                </div>
                <div class="bundle-tab__tabs--content__single--image product-overlay-trigger relative">
                    <div class="info-icon">i</div>
                    <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Social_Butterfly_bundle.jpg?v=1700777816">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Social Butterfly Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>4x</span> 6ft Titan Cable</li>
                        <li><span>1x</span> Wireless Turbo Dock</li>
                        <li><span>1x</span> Titan Buds 2.0</li>
                    </ul>
                </div>
                <div class="phone-selector-title">Choose Cable Type:</div>
                <div class="phone-selector">
                    <div data-select-ids="47383457628338,17383356342450,17689660072114" class="js-phone-select active">Iphone</div>
                    <div data-select-ids="47867505868978,17383356342450,17689660072114" class="js-phone-select">USB-C</div>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="47383457628338,17383356342450,17689660072114">ADD ALL TO OFFER</button>
                </div>
            </div>
        </div>
        <div class="bundle-tab__tabs--content bundle-tab__tabs--content__three tab3">
            <div class="bundle-tab__tabs--content__single js-wrapper-product">
                <div class="product-overlay">
                    <div class="close">
                        {% render 'icon-close' %}
                    </div>
                    <div class="product-overlay-image">
                        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/family_bundle_card.jpg?v=1700817798">
                    </div>
                </div>
                <div class="bundle-tab__tabs--content__single--image product-overlay-trigger relative">
                    <div class="info-icon">i</div>
                    <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/OFFER___Family_GIFT_BUNDLE.jpg?v=1700777816">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Family Gift Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>6x</span> 6ft Titan Cables</li>
                        <li><span>2x</span> 45W PD Plug</li>
                        <li><span>2x</span> Titan Buds 2.0</li>
                        <li><span>1x</span> Titan BT Car Charger</li>
                        <li><span>1x</span>  3-in-1 Foldable Dock</li>
                        <li><span>1x</span> Titan Travel Kit</li>
                        <li><span>1x</span> 3-in-1 Wireless Dock</li>
                    </ul>
                </div>
                <div class="phone-selector-title">Choose Cable Type:</div>
                <div class="phone-selector">
                    <div data-select-ids="67383457628338,27431305298098,27689660072114,17383352705202,17671864852658,17863405838514,17530094919858" class="js-phone-select active">Iphone</div>
                    <div data-select-ids="67867505868978,27431305298098,27689660072114,17383352705202,17671864852658,17863405838514,17530094919858" class="js-phone-select">USB-C</div>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="67383457628338,27431305298098,27689660072114,17383352705202,17671864852658,17863405838514,17530094919858">ADD ALL TO OFFER</button>
                </div>
            </div>
            <div class="bundle-tab__tabs--content__single js-wrapper-product">
                <div class="product-overlay">
                    <div class="close">
                        {% render 'icon-close' %}
                    </div>
                    <div class="product-overlay-image">
                        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/stocking_filler_bundle_card.jpg?v=1700817820">
                    </div>
                </div>
                <div class="bundle-tab__tabs--content__single--image product-overlay-trigger relative">
                    <div class="info-icon">i</div>
                    <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/OFFER___Stocking_Filler_BUNDLE.jpg?v=1700777816">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Stocking Filler Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>2x</span> 6ft Titan Cable</li>
                        <li><span>1x</span> Titan Buds 2.0</li>
                        <li><span>1x</span> 45W PD Plug</li>
                        <li><span>1x</span> Titan Travel Kit</li>
                        <li><span>1x</span> 3-in-1 Foldable Dock</li>
                        <li><span>1x</span> 3-in-1 Cable</li>
                    </ul>
                </div>
                <div class="phone-selector-title">Choose Cable Type:</div>
                <div class="phone-selector">
                    <div data-select-ids="27383457628338,17689660072114,17431305298098,17863405838514,17671864852658,17383363682482" class="js-phone-select active">Iphone</div>
                    <div data-select-ids="27867505868978,17689660072114,17431305298098,17863405838514,17671864852658,173833636824828" class="js-phone-select">USB-C</div>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="27383457628338,17689660072114,17431305298098,17863405838514,17671864852658,17383363682482">ADD ALL TO OFFER</button>
                </div>
            </div>
        </div>
    </div>
</div>