<div class="bundle-gifts-wrapper bundle-bottom-gifts">
    <div class="bundle-bottom-gifts__title">What free gifts did you unlocked?</div>
    <div class="bundle-gifts relative">
        <div class="white-line"></div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_cable_bag_icon_0383df16-2087-4fcc-933f-a8b782fc5f5a.png?v=1700646712">
            </div>
            <div class="bundle-gifts__single--text">
                <p><span class="money">EVERY ORDER</span></p>
            </div>
        </div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_cable_icon_98aab984-e6d8-47d5-b540-d592229279f6.png?v=1700646712">
            </div>
            <div class="bundle-gifts__single--text">
                <p>SPEND: <span>{{all_products['sc'].price | money_without_trailing_zeros }}</span> </p>
            </div>
        </div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_turbo_dock_icon_c7ebf661-ab34-42e5-bbe4-d39c76a46b94.png?v=1700646712">
            </div>
            <div class="bundle-gifts__single--text">
                <p>SPEND: <span>{{all_products['td'].price | money_without_trailing_zeros }}</span>  </p>
            </div>
        </div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_titan_buds_icon_be72b7a6-8209-4510-be3e-87a39b17e6f9.png?v=1700646712">
            </div>
            <div class="bundle-gifts__single--text">
                <p>SPEND: <span>{{all_products['tb'].price | money_without_trailing_zeros }}</span> </p>
            </div>
        </div>
    </div>
</div>