<div class="bundle-gifts-wrapper">
    <img class="number-icon-two" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/2-icon.png?v=1700734601">
    <div class="bundle-gifts-toptitle">UNLOCK FREE GIFTS</div>
    <div class="bundle-gifts-topsubtitle">Limited Time Offer - First Come, First Served</div>
    <div class="bundle-gifts relative">
        <div class="white-line"></div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_cable_bag_icon_0383df16-2087-4fcc-933f-a8b782fc5f5a.png?v=1700646712">
            </div>
            <div class="bundle-gifts__single--text">
                <div class="red-text titan-red">500 available</div>
                <p><span class="money">EVERY ORDER</span></p>
                <h3>CABLE BAG</h3>
            </div>
        </div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_cable_icon_98aab984-e6d8-47d5-b540-d592229279f6.png?v=1700646712">
            </div>
            <div class="bundle-gifts__single--text">
                <div class="red-text titan-red">300 available</div>
                <p>SPEND: {{all_products['sc'].price | money_without_trailing_zeros }} </p>
                <h3>Smart cable</h3>
            </div>
        </div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_turbo_dock_icon_c7ebf661-ab34-42e5-bbe4-d39c76a46b94.png?v=1700646712">
            </div>
            <div class="bundle-gifts__single--text">
                <div class="red-text titan-red">200 available</div>
                <p>SPEND: {{all_products['td'].price | money_without_trailing_zeros }}  </p>
                <h3>Turbo dock</h3>
            </div>
        </div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_titan_buds_icon_be72b7a6-8209-4510-be3e-87a39b17e6f9.png?v=1700646712">
            </div>
            <div class="bundle-gifts__single--text">
                <div class="red-text titan-red">50 available</div>
                <p>SPEND: {{all_products['tb'].price | money_without_trailing_zeros }} </p>
                <h3>Titan buds 2.0</h3>
            </div>
        </div>
    </div>
</div>