<div class="bundle-gifts-wrapper">
    <img class="number-icon-two" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/2-icon.png?v=1700734601">
    <div class="bundle-gifts-toptitle">GRAB 3 GIFTS</div>
    <div class="bundle-gifts-topsubtitle">Limited time Offer - First Come, First Served</div>
    <div class="bundle-gifts relative">
        <div class="white-line shine"><img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/new_line_design.png?v=1701417429"></div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_mobile_V2-cable_-_small_3a8e8eba-8d38-4b4b-8712-3637cded9e7f.png?v=1701416899">
            </div>
            <div class="bundle-gifts__single--text">
                {% comment %} <div class="red-text titan-red">164 Remaining</div> {% endcomment %}
                <p>SPEND: <span>{{all_products['pd'].price | money_without_trailing_zeros }}</span> </p>
                <h3>Smart cable</h3>
            </div>
        </div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_mobile_V2-small-3in1_cable.png?v=1701416899">
            </div>
            <div class="bundle-gifts__single--text">
                {% comment %} <div class="red-text titan-red">83 Remaining</div> {% endcomment %}
                <p>SPEND: <span>{{all_products['3-in-1-price-holder-do-not-delete'].price | money_without_trailing_zeros }}</span> </p>
                <h3>3 in 1 cable</h3>
            </div>
        </div>
        <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_mobile_V2-_turbo_dock.png?v=1702646556">
            </div>
            <div class="bundle-gifts__single--text">
                {% comment %} <div class="red-text titan-red">41 Remaining</div> {% endcomment %}
                <p>SPEND: <span>{{all_products['turbo-dock-price-holder-do-not-delete'].price | money_without_trailing_zeros }}</span>  </p>
                <h3>Turbo Dock</h3>
            </div>
        </div>
        {% comment %} <div class="bundle-gifts__single">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_free_gift_banner_-_mobile_V2-_buds.png?v=1702646556">
            </div>
            <div class="bundle-gifts__single--text">
                <div class="red-text titan-red">26 Remaining</div>
                <p>SPEND: <span>{{all_products['tb'].price | money_without_trailing_zeros }}</span> </p>
                <h3>Titan Buds 2.0</h3>
            </div>
        </div> {% endcomment %}
    </div>
</div>