<div class="bundle-tab">
    <div class="bundle-tab__title">FAN FAVOURITE BUNDLES</div>
    <div class="bundle-tab__subtitle">Add all products in bundle to your bundle cart below</div>
    <div class="bundle-tab__text">Quickly add groups of products for gift packages, remove individual products from bundles below</div>
    <div class="bundle-tab__tabs">
        <div class="bundle-tab__tabs--navigation">
            <div class="bundle-tab__tabs--navigation__single active js-bundle-tab" data-tab=".tab1">
                Popular pairs
            </div>
            <div class="bundle-tab__tabs--navigation__single js-bundle-tab" data-tab=".tab2">
                Gift bundles
            </div>
            <div class="bundle-tab__tabs--navigation__single js-bundle-tab" data-tab=".tab3">
                Mega bundles
            </div>
        </div>
        <div class="bundle-tab__tabs--content active tab1">
            <div class="bundle-tab__tabs--content__single">
                <div class="bundle-tab__tabs--content__single--image">
                    <img src="https://titanpowerplus.com/cdn/shop/files/buybox_lightning_45wplug.jpg?v=1692625501">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Cable & Plugs
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>3x</span> Titan Cables</li>
                        <li><span>1x</span> 45w Plug</li>
                    </ul>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="37383457628338,17431305298098">ADD ALL TO OFFER</button>
                </div>
            </div>
            <div class="bundle-tab__tabs--content__single">
                <div class="bundle-tab__tabs--content__single--image">
                    <img src="https://titanpowerplus.com/cdn/shop/files/buybox_lightning_45wplug.jpg?v=1692625501">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Buds and Wireless Dock
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>1x</span> Buds 2.0</li>
                        <li><span>1x</span> Folding Dock</li>
                    </ul>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="17689660072114,17671864852658">ADD ALL TO OFFER</button>
                </div>
            </div>
        </div>
        <div class="bundle-tab__tabs--content bundle-tab__tabs--content__three tab2">
            <div class="bundle-tab__tabs--content__single bundle-tab__tabs--content__three__single">
                <div class="bundle-tab__tabs--content__single--image">
                    <img src="https://titanpowerplus.com/cdn/shop/files/buybox_lightning_45wplug.jpg?v=1692625501">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Social Butterfly Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>4x</span> Titan Smart Cable</li>
                        <li><span>1x</span> Wireless Turbo Dock</li>
                        <li><span>1x</span> Titan Buds</li>
                    </ul>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="47383457628338,17383356342450,17689660072114">ADD ALL TO OFFER</button>
                </div>
            </div>
            <div class="bundle-tab__tabs--content__single bundle-tab__tabs--content__three__single">
                <div class="bundle-tab__tabs--content__single--image">
                    <img src="https://titanpowerplus.com/cdn/shop/files/buybox_lightning_45wplug.jpg?v=1692625501">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Nomad Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>2x</span> Titan Smart Cable</li>
                        <li><span>1x</span> Travel Kit</li>
                        <li><span>1x</span> Foldable Charger</li>
                        <li><span>1x</span> Titan Buds</li>
                    </ul>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="27383457628338,17863405838514,17671864852658,17689660072114">ADD ALL TO OFFER</button>
                </div>
            </div>
            <div class="bundle-tab__tabs--content__single bundle-tab__tabs--content__three__single">
                <div class="bundle-tab__tabs--content__single--image">
                    <img src="https://titanpowerplus.com/cdn/shop/files/buybox_lightning_45wplug.jpg?v=1692625501">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Gamers Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>3x</span> Titan Smart Cable</li>
                        <li><span>1x</span> Titan 45W Plug™</li>
                        <li><span>1x</span> 3-in-1 Multi Cable™</li>
                        <li><span>1x</span> Titan3 in 1 mothership Dock</li>
                    </ul>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="37383457628338,17431305298098,17383363682482,17530094919858">ADD ALL TO OFFER</button>
                </div>
            </div>
        </div>
        <div class="bundle-tab__tabs--content bundle-tab__tabs--content__three tab3">
            <div class="bundle-tab__tabs--content__single bundle-tab__tabs--content__three__single">
                <div class="bundle-tab__tabs--content__single--image">
                    <img src="https://titanpowerplus.com/cdn/shop/files/buybox_lightning_45wplug.jpg?v=1692625501">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Family Gift Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>6x</span> Titan Smart Cables™</li>
                        <li><span>2x</span> 45w Plug</li>
                        <li><span>2x</span> Titan Buds 2.0™</li>
                        <li><span>1x</span> Titan Bluetooth PD Car Charger™</li>
                        <li><span>1x</span> 3-in-1 Foldable Wireless Dock™</li>
                        <li><span>1x</span> Titan Travel Kit™</li>
                        <li><span>1x</span> Titan 3-in-1 Mothership Dock™</li>
                    </ul>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="67383457628338,27431305298098,27689660072114,17383352705202,17671864852658,17863405838514,17530094919858">ADD ALL TO OFFER</button>
                </div>
            </div>
            <div class="bundle-tab__tabs--content__single bundle-tab__tabs--content__three__single">
                <div class="bundle-tab__tabs--content__single--image">
                    <img src="https://titanpowerplus.com/cdn/shop/files/buybox_lightning_45wplug.jpg?v=1692625501">
                </div>
                <div class="bundle-tab__tabs--content__single--title">
                    Stocking Filler Bundle
                </div>
                <div class="bundle-tab__tabs--content__single--list">
                    <ul>
                        <li><span>2x</span> Titan Smart Cable</li>
                        <li><span>1x</span> Titan Buds</li>
                        <li><span>1x</span> 45w Plug</li>
                        <li><span>1x</span> Titan Travel Kit™</li>
                        <li><span>1x</span> 3 in 1 foldable dock</li>
                        <li><span>1x</span> 3 in 1 cable</li>
                    </ul>
                </div>
                <div class="bundle-tab__tabs--content__single--button">
                    <button class="js-start-bundles" data-ids="7383457628338,17689660072114,17431305298098,17863405838514,17671864852658,17383363682482">ADD ALL TO OFFER</button>
                </div>
            </div>
        </div>
    </div>
</div>