<div class="bundle-gifts-wrapper">
    <div class="bundle-gifts relative">
        <div class="white-line shine"><img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/new_line_design.png?v=1701417429"></div>
        <div data-gift-ammount="{{all_products['pd'].price}}" class="bundle-gifts__single first-gift">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan-power-plus-bundle-builder-charging-cables-wireless-docks-usb-c-titan-cable-fast-iphone-pd-mobile-custom-offer-free-cable.png?v=1709642803">
            </div>
            <div class="bundle-gifts__single--text">
                {% comment %} <div class="red-text titan-red">164 Remaining</div> {% endcomment %}
                <p>SPEND: <span>{{all_products['pd'].price | money_without_trailing_zeros }}</span> </p>
                <h3>Smart cable</h3>
            </div>
        </div>
        <div data-gift-ammount="{{all_products['turbo-dock-holder-do-not-delete'].price}}" class="bundle-gifts__single second-gift">
            <div class="bundle-gifts__single--image">
                <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/New_free_gift_titan_kit_symbol_turbo_dock.png?v=1714648340">
            </div>
            <div class="bundle-gifts__single--text">
                <p>SPEND: <span>{{all_products['turbo-dock-holder-do-not-delete'].price | money_without_trailing_zeros }}</span> </p>
                <h3>Wireless Turbo Dock</h3>
            </div>
        </div>
    </div>
</div>
<style>
.white-line {
    width: 44%  !important;
    height: 5px  !important;
    display: block !important;
    position: absolute  !important;
    top: 40%  !important;
    left: 30%  !important;
    background-color: #fff  !important;
}
.bundle-gifts {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
@media only screen and (max-width: 950px) {
    .white-line {
        left: 0%  !important;
    }
}
</style>