<div class="video-icon stream-start">
  <svg width="100%" height="100%" fill="none" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C2.89543 5 2 5.89543 2 7V21C2 22.1046 2.89543 23 4 23H18C19.1046 23 20 22.1046 20 21V17.7694L23.7889 19.8095C24.7882 20.3476 26 19.6238 26 18.4888V9.51148C26 8.37647 24.7882 7.65267 23.7889 8.19078L20 10.2309V7C20 5.89543 19.1046 5 18 5H4Z" fill="#60c655"></path></svg>
  <i class="Header_linePart__1tpw_ Header_line_1__TNAKB"></i>
  <i class="Header_linePart__1tpw_ Header_line_2___ZHFt"></i>
  <i class="Header_linePart__1tpw_ Header_line_3__5T_j9"></i>
  <i class="Header_linePart__1tpw_ Header_line_4"></i>
</div>
<style>
.video-icon {
    position: relative;
    cursor: pointer;
    z-index: 99999;
}
.Header_linePart__1tpw_ {
    position: absolute;
    bottom: 22% !important;
    left: 20% !important;
    width: 1.5px !important;
    border-radius: 30px;
    height: 15px !important;
    background-color: white !important;
    transform-origin: 50% 100%;
    transition: all .2s ease-in-out;
}
.Header_line_1__TNAKB {
    left: 14% !important;
    animation: Header_higher__GNt2I .4s ease-in-out infinite alternate;
}
.Header_line_2___ZHFt {
    left: 26% !important;
    animation: Header_higher__GNt2I .4s ease-in-out -.3s infinite alternate;
}
.Header_line_3__5T_j9 {
    left: 38% !important;
    animation: Header_higher__GNt2I .4s ease-in-out -.2s infinite alternate;
}
.Header_line_4 {
    left: 52% !important;
    animation: Header_higher__GNt2I .4s ease-in-out -.1s infinite alternate;
}
@keyframes Header_higher__GNt2I {
    0% {
        transform: scaleY(.3)
    }

    to {
        transform: scaleY(1)
    }
}
</style>