.treasure-top {
    &.second {
        padding-top: 50px;
    }
    padding: 0px 10px 50px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 1.2;
        color:#60c655;
        font-weight: 700;
    }
    &__counter {
        color:#60c655;
        font-weight: 700;
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        line-height: 1.0;
        margin: 20px 0;
        @media only screen and (max-width: 768px) {
            font-size: 40px;
        }
        span {
            font-size: 20px;
            text-transform: uppercase;
            @media only screen and (max-width: 768px) {
                font-size: 16px;
            }
            
        }
        .number-block {
            display: flex;
            flex-direction: column;
        }
    }
}

.treasure-zig-wrapper {
    background: #D6E1E1;
    padding-bottom: 50px;
}
.treasure-zig-container {
    max-width: 1200px;
    margin:0 auto;
}
.overimage {
    z-index: 99999999;
    position:relative;
    display: block;
}
.treasure-zig {
    padding: 0px 10px;
    &__single {
        gap:0px;
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            gap:20px;
        }
        &.reverse {
            flex-direction: row-reverse;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                gap:20px;
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--image {
            width:44%;
            padding: 0px;
            @media only screen and (max-width: 768px) {
                width:100%;
                padding: 0px;
            }
            padding-top: 0;
            cursor: pointer;
            img {
                max-width: 100%;
                width:100%;
            }
        }
        &--content {
            width: 50%;
            @media only screen and (max-width: 768px) {
                width:100%;
                padding: 20px 0 20px;
            }
            text-align: center;
            &__title {
                font-size: 32px;
                font-weight: 700;
                line-height: 1.2;
            }
            &__text {
                margin-top: 10px;
                font-weight: 300;
                font-size: 16px;
                line-height: 1.4;
            }
            &__url {
                margin: 0 auto;
                margin-top: 20px;
                background-color: #60c655;
                color: #fff;
                border-radius: 25px;
                padding: 10px 20px;
                font-size: 22px;
                text-decoration: none;
                display: block;
                max-width: 300px;
                text-align: center;
                font-weight: 700;
                text-transform: uppercase;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                &.reveal {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
            }
            &__upper {
                color:#60c655;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                &.reveal {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

.video {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &.reveal {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}
img.first {
    &.hide {
        display: none;
    }
}
video::-webkit-media-controls {
    display: none;
  }

.product-zig__bigtitle {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    max-width: 600px;
    margin: 30px auto 50px;
    font-style: italic;
    letter-spacing: .07em;
    color: #4a4a4a !important;
}

.desktop {
    display: block;
}
@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
}
.mobile {
    display: none;
}
@media only screen and (max-width: 768px) {
    .mobile {
        display: block;
    }
}