.section-media-banner {
    margin-block: 40px;
}

.media-banner {
    position: relative;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.media-banner__media {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 4;
    pointer-events: none;
}

.media-banner__container {
    max-width: 1232px;
    padding: 0 16px;
    margin: 0 auto;
}

.media-banner__content {
    position: relative;
    z-index: 4;
    width: 100vw;
    margin: 0 -16px;
    height: 100%;
}

.media-banner__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
    z-index: 3;
    letter-spacing: -.02em;
    color: #fcf8f8;
    margin: 0 0 8px;
}

@media(min-width: 768px) {
    .media-banner {
        height: auto;
        border-radius: 48px;
        padding: 180px 0;
        background-color: #000;
    }

    .media-banner__media {
        top: 50%;
        left: 50%;
        border-radius: 48px;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1200px;
        z-index: 1;
    }

    .media-banner__content {
        margin: 0;
        width: 50vw;
        padding: 0;
        max-width: 480px;
        left: 50%;
        transform: translate(-50%);
    }

    .media-banner__title {
        margin: 0 0 16px;
        font-size: 64px;
        line-height: 72px;
    }
}