.contact-form__inner {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--white);

  .contact-form__input {
    @mixin label-text-2;

    flex: 1 1 0;
    height: 40px;
    margin: 0;
    padding: 0 18px;
    border: none;
    color: var(--blue);
    text-indent: 0;

    @media (--sm) {
      padding: 0 15px;
    }

    &::placeholder {
      color: var(--blue);
    }

    &:focus {
      box-shadow: none;
    }
  }

  .contact-form__submit {
    display: flex;
    align-items: center;
    width: 26px;
    height: 100%;
    margin: 10px 18px;
    padding: 0;
    background-color: transparent;
  }
}

.contact-form__alert,
.contact-form__success {
  display: none;

  .contact-form--footer & {
    @media (--sm) {
      text-align: right;
    }
  }

  &.is-active {
    display: block;
  }
}

.contact-form__success-text {
  .contact-form--footer & {
    @media (--sm) {
      text-align: right;
    }
  }
}

p.form--success {
  @media (--l) {
    text-align: right;
  }
}
