<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<div class="bg-[#60c655]">
  <div class="bf-top-bar bg-[#60c655] py-[10px] max-w-[1300px] mx-auto">
      {% if section.settings.image != blank %}
        <img width="100" height="auto" src="{{ section.settings.image | img_url: 'master' }}" alt="BF TOP BAR" class="inline-block">
      {% endif %}
      <p class="text-center uppercase md:text-[20px] text-[14px] color-black">{{ section.settings.welcome_message }}</p>
  </div>
</div>
{% schema %}
{
    "name": "BF TOP BAR",
    "settings": [
      {
        "type": "text",
        "id": "welcome_message",
        "label": "Message",
        "default": "Everything is 40% off + 80% off in packs"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "BF TOP BAR"
      }
    ]
  }
{% endschema %}