<div class="ct flex items-center justify-center mb-[20px] flex-col md:flex-row gap-[10px] md:gap-[0px] mt-[40px]">
  <h2 class="text-[#2f4534] md:text-[50px] text-[32px] font-bold ml-[10px] text-center">Titan Buds Vs Others</h2>
</div>
<div class="px-[10px]">
  <div class="overflow-x-auto relative max-w-[1110px] mx-auto pb-[40px]">
    <table class="min-w-full bg-white border-collapse !bg-transparent">
      <thead class="text-[12px] text-center">
          <tr class="bg-[#2f4534] text-white !text-center">
              <th class="px-4 py-3 font-semibold sticky left-0 bg-[#e4eaea] z-10 text-[#2f4534] border border-[#ccc] empty"></th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Price</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Comfort & Fit</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Smart Touchscreen</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Standalone Music</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Battery Life</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Water Resistance</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Drivers</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Awareness Mode</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Sound Customization</th>
              <th class="px-4 py-3 font-semibold border border-[#ccc]">Connectivity</th>
          </tr>
      </thead>
      <tbody class="text-[12px] text-center">
          <tr>
              <td class="px-4 py-3 border border-[#ccc] font-medium sticky left-0 bg-white z-10 special">
                <img class="max-w-[40px] mx-auto" src="https://titanpowerplus.com/cdn/shop/files/TPP_Banner_Ad_A_v1_-_buds_shop.png?v=1741363322">
                Titan Smart Buds</td>
              <td class="px-4 py-3 border border-[#ccc]">$129</td>
              <td class="px-4 py-3 border border-[#ccc]">Ultra-light, open-ear</td>
              <td class="px-4 py-3 border border-[#ccc]">Full-color display</td>
              <td class="px-4 py-3 border border-[#ccc]">TF card support</td>
              <td class="px-4 py-3 border border-[#ccc]">8 hrs (30 hrs total)</td>
              <td class="px-4 py-3 border border-[#ccc]">IPX4 (Sweat & splash-proof)</td>
              <td class="px-4 py-3 border border-[#ccc]">16.2mm Titanium</td>
              <td class="px-4 py-3 border border-[#ccc]">Hear surroundings</td>
              <td class="px-4 py-3 border border-[#ccc]">EQ Tuning & Presets</td>
              <td class="px-4 py-3 border border-[#ccc]">Universal</td>
          </tr>
          <tr class="bg-gray-50">
              <td class="px-4 py-3 border border-[#ccc] font-medium sticky left-0 bg-white z-10">
                <img class="max-w-[30px] mx-auto" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Samsung_1.png?v=1741377601">
                Samsung Galaxy Buds 2 Pro
              </td>
              <td class="px-4 py-3 border border-[#ccc]">$229</td>
              <td class="px-4 py-3 border border-[#ccc]">In-ear, tight fit</td>
              <td class="px-4 py-3 border border-[#ccc]">None</td>
              <td class="px-4 py-3 border border-[#ccc]">No</td>
              <td class="px-4 py-3 border border-[#ccc]">5 hrs (18 hrs total)</td>
              <td class="px-4 py-3 border border-[#ccc]">IPX7</td>
              <td class="px-4 py-3 border border-[#ccc]">10mm</td>
              <td class="px-4 py-3 border border-[#ccc]">No</td>
              <td class="px-4 py-3 border border-[#ccc]">Yes</td>
              <td class="px-4 py-3 border border-[#ccc]">Limited (Samsung Only)</td>
          </tr>
          <tr>
              <td class="px-4 py-3 border border-[#ccc] font-medium sticky left-0 bg-white z-10">
                <img class="max-w-[30px] mx-auto" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/apple.png?v=1741377601">
                AirPods Pro 2</td>
              <td class="px-4 py-3 border border-[#ccc]">$249</td>
              <td class="px-4 py-3 border border-[#ccc]">In-ear pressure</td>
              <td class="px-4 py-3 border border-[#ccc]">None</td>
              <td class="px-4 py-3 border border-[#ccc]">No</td>
              <td class="px-4 py-3 border border-[#ccc]">4.5 hrs (24 hrs total)</td>
              <td class="px-4 py-3 border border-[#ccc]">IPX4</td>
              <td class="px-4 py-3 border border-[#ccc]">11mm</td>
              <td class="px-4 py-3 border border-[#ccc]">No</td>
              <td class="px-4 py-3 border border-[#ccc]">No</td>
              <td class="px-4 py-3 border border-[#ccc]">Limited (Apple Only)</td>
          </tr>
          <tr class="bg-gray-50">
              <td class="px-4 py-3 border border-[#ccc] font-medium sticky left-0 bg-white z-10">
                <img class="max-w-[30px] mx-auto" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Bose_2.png?v=1741377601">
                Bose Open Earbuds</td>
              <td class="px-4 py-3 border border-[#ccc]">$199</td>
              <td class="px-4 py-3 border border-[#ccc]">Open-ear, bulky</td>
              <td class="px-4 py-3 border border-[#ccc]">None</td>
              <td class="px-4 py-3 border border-[#ccc]">No</td>
              <td class="px-4 py-3 border border-[#ccc]">6 hrs (18 hrs total)</td>
              <td class="px-4 py-3 border border-[#ccc]">IPX4</td>
              <td class="px-4 py-3 border border-[#ccc]">14mm</td>
              <td class="px-4 py-3 border border-[#ccc]">No</td>
              <td class="px-4 py-3 border border-[#ccc]">Yes</td>
              <td class="px-4 py-3 border border-[#ccc]">Universal</td>
          </tr>
          <tr>
              <td class="px-4 py-3 border border-[#ccc] font-medium sticky left-0 bg-white z-10 special-bottom">
                <img class="max-w-[30px] mx-auto" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Sony_1.png?v=1741377601">
                Sony LinkBuds</td>
              <td class="px-4 py-3 border border-[#ccc]">$179</td>
              <td class="px-4 py-3 border border-[#ccc]">Open-ear, loose fit</td>
              <td class="px-4 py-3 border border-[#ccc]">None</td>
              <td class="px-4 py-3 border border-[#ccc]">No</td>
              <td class="px-4 py-3 border border-[#ccc]">5.5 hrs (17.5 hrs total)</td>
              <td class="px-4 py-3 border border-[#ccc]">IPX4</td>
              <td class="px-4 py-3 border border-[#ccc]">12mm</td>
              <td class="px-4 py-3 border border-[#ccc]">Partial</td>
              <td class="px-4 py-3 border border-[#ccc]">Yes</td>
              <td class="px-4 py-3 border border-[#ccc]">Universal</td>
          </tr>
      </tbody>
  </table>


  </div>
</div>

<style>
th, td {
  border: 1px solid #ccc;
}
th:first-child, td:first-child {
  border-left-width: 1px;
  border-color:transparent !important;
}
th:first-child {
  background: #e4eaea !important;
  border: none !important;
}
td:first-child:last-child {
  border-bottom-left-radius: 24px;
}
{% comment %} th:nth-child(2), td:nth-child(2) {
  border-top-left-radius: 24px;
} {% endcomment %}
.special {
  border-top-left-radius: 24px;
}
.special-bottom {
  border-bottom-left-radius: 24px;
}
</style>
