<section class="faq">
	<div class="product-image__title slider-section__title">General Questions</div>
	<div class="accordion">
		<div class="accordion__intro">
			<h4> How rugged is this cable? </h4>
		</div>
		<div class="accordion__content">
			<p>We have built this cable with durability in mind and used the strongest, most reliable materials we could find. The robust triple nylon braid braid will keep this cable protected longer than your device. Additionally, the metal connector tips stabilize the ends, where most cables fail.</p>
		</div>
	</div>

	<div class="accordion">
		<div class="accordion__intro">
			<h4> What devices is this cable compatible with? </h4>
		</div>
		<div class="accordion__content">
			<p>Our charging cable will work with all conventional mobile devices, including new releases. We cannot list all the models but see a list of brands below that will support our cable. 
				You can also use our cable to change a whole range of everyday items, such as your speakers, headphones, tablets, cameras and controllers. Please note much larger devices like MacBooks cannot be charged with this cable.</p>
		</div>
	</div>
	<div class="accordion">
		<div class="accordion__intro">
			<h4> How does the warranty work? </h4>
		</div>
		<div class="accordion__content">
			<p>We have so much confidence in our cables durability that we offer a lifetime warranty and 60-day warranty on all other products. This means that if anything happens, we'll send you a brand new charger, free of charge!
	The warranty covers any defects in material or workmanship. Furthermore, if any unexpected or unreasonable damage occurs this will be covered. Any intentional damage or damage caused by unconventional use will not be covered.
	Please note that any cable sent out to you as a replacement will not be covered by this warranty.</p>
		</div>
	</div>
	<div class="accordion">
		<div class="accordion__intro">
			<h4> Is this cable safe to use with my device? </h4>
		</div>
		<div class="accordion__content">
			<p>This cable delivers fast charging at an amperage level that is supported by your mobile device and will therefore not cause any damage.</p>
		</div>
	</div>
</section>
{% schema %}
{
  "name": "FAQ",
  "settings": [],
  "presets": [
    {
      "name": "FAQ",
      "category": "Home Page"
    }
  ]
}
{% endschema %}