{{ 'section-product-icons.css' | asset_url | stylesheet_tag }}
<div class="product-icons">
    <div class="container">
        <div class="product-icons__wrapper f jcb ais fw">
            {% for block in section.blocks %}
              <div class="product-icons__wrapper--icon">
                  <img src="{{block.settings.image | img_url:'master' }}">
                  <div class="product-icons__wrapper--icon__title">{{block.settings.text}}</div>
              </div>
              {% if forloop.index == 2%}
                  <div class="product-template__wrapper--content__review f fdc text-center js-section-scroll desktop-show align-self-end">
                    <span class="product-template__wrapper--content__review--stars color-titan-green font-sans mb-15">★ ★ ★ ★ ★ 4.7</span><br>
                    <span class="product-template__wrapper--content__review--number color-black font-lato">21956 reviews</span>
                </div>
              {% endif %}
            {% endfor %}
             <div class="product-template__wrapper--content__review f fdc text-center js-section-scroll desktop-hide">
                <span class="product-template__wrapper--content__review--stars color-titan-green font-sans mb-15">★ ★ ★ ★ ★ 4.7</span>
                <span class="product-template__wrapper--content__review--number color-black font-lato">(21956)</span>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Product Icons",
  "settings": [],
  "blocks": [
    {
      "type": "icons",
      "name": "Add icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "info": "Choose Image",
          "label":"Choose Image"
        },
        {
          "type": "text",
          "id": "text",
          "info": "Text",
          "label":"Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Icons",
      "category": "Home Page"
    }
  ]
}
{% endschema %}