<div class="sticky-card flex justify-between fixed bottom-[0px] w-full bg-[#d6e1e1] md:px-[40px] px-[10px] items-center z-[999999]">
    <div class="flex md:gap-[16px] gap-[8px] py-[20px] js-output flex-wrap">
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
    </div>
    <div class="">
        <button class="js-rebuy hidden md:block text-center min-w-[200px] h-[46px] bg-[#60c655]  text-[16px] text-white font-semibold rounded-[20px] leading-[46px]">
            CHECKOUT NOW
        </button>
        <button class="js-rebuy flex md:hidden items-center justify-center h-[50px] w-[50px] text-center bg-[#60c655] text-[16px] text-white font-semibold rounded-[10px]">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.814941C0 0.364861 0.364861 0 0.814941 0H4.40068C4.7735 0 5.09877 0.252995 5.19054 0.61434L5.83135 3.13752H18.7436C19.0008 3.13752 19.2428 3.25886 19.3966 3.46489C19.5505 3.67091 19.598 3.93745 19.525 4.18398L17.1345 12.2519C17.032 12.5979 16.7141 12.8353 16.3531 12.8353H7.18959C6.81475 12.8353 6.48826 12.5796 6.39841 12.2157L4.40698 4.15045L3.76684 1.62988H0.814941C0.364861 1.62988 0 1.26502 0 0.814941ZM6.23814 4.7674L7.82778 11.2054H15.7446L17.6522 4.7674H6.23814Z" fill="white"></path>
            <path d="M10.0233 14.6554C10.0233 15.398 9.42127 16 8.67864 16C7.93601 16 7.33398 15.398 7.33398 14.6554C7.33398 13.9127 7.93601 13.3107 8.67864 13.3107C9.42127 13.3107 10.0233 13.9127 10.0233 14.6554Z" fill="white"></path>
            <path d="M16.2987 14.6554C16.2987 15.398 15.6967 16 14.954 16C14.2114 16 13.6094 15.398 13.6094 14.6554C13.6094 13.9127 14.2114 13.3107 14.954 13.3107C15.6967 13.3107 16.2987 13.9127 16.2987 14.6554Z" fill="white"></path>
          </svg>
        </button>
    </div>
</div>

{% schema %}
{
    "name": "Sticky Cart",
    "settings": [
      {
        "type": "text",
        "id": "welcome_message",
        "label": "Welcome Message",
        "default": "Welcome to our store!"
      }
    ],
    "presets": [
      {
        "name": "Sticky Cart"
      }
    ]
  }

{% endschema %}