<div class="sticky-card flex justify-between fixed bottom-[60px] w-full bg-[#d6e1e1] px-[40px] items-center z-[999999]">
    <div class="flex gap-[10px] py-[20px] js-output">
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
        <div class="sticky-card-product w-[50px] h-[50px] bg-white flex items-center justify-center placeholder relative">+</div>
    </div>
    <div>
        <a href="/checkout"class="block text-center min-w-[200px] h-[46px] bg-[#60c655]  text-[16px] text-white font-semibold rounded-[20px] leading-[46px]">
            Checkout
        </a>
    </div>
</div>

{% schema %}
{
    "name": "Sticky Cart",
    "settings": [
      {
        "type": "text",
        "id": "welcome_message",
        "label": "Welcome Message",
        "default": "Welcome to our store!"
      }
    ],
    "presets": [
      {
        "name": "Sticky Cart"
      }
    ]
  }

{% endschema %}