<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<div class="swiper mySwiper slider-section">
<div class="product-image__title slider-section__title">Supercharge Your Lifestyle.</div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Packaging.jpg?v=1680214806">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I bought a Titan Power+ cable out of desperation, and as a result of research. I have an autistic son who has managed to damage every cable he’s ever had, including genuine apple cable and some marketed as being supposedly unbreakable. I decided to buy a Titan Power+ cable due to independent reviews I had researched and I am absolutely delighted with it It has been subjected to some harsh treatment by my son and has come out unscathed. Would I buy another? Yes. Would I recommend them? Undoubtedly!</div>
              {% comment %} <div class="slide-content__text--signature">Niall Barker</div>
              <div class="slide-content__text--insta">@nillsbarkerd</div> {% endcomment %}
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/PD_Plug_Multibuy.jpg?v=1680214806">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I have had these before and they have really held up and work great! My old one is 7 years old and going strong. They are heavy unlike Apple’s chargers. Every time I get a new Apple device I give their charger away. Theses charge faster and holdup forever and to get 4 charging ports is just great 😊 👍 ! Had to get another my wife has confiscated mine! Lol</div>
              {% comment %} <div class="slide-content__text--signature">Chris Gosling</div>
              <div class="slide-content__text--insta">@chrisgosling1</div> {% endcomment %}
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Plug_in_both_ways.jpg?v=1680214806">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">But the one thing I love the most: reversible USB plugs! Why haven’t we had these before? Why doesn’t Titan Power make a song-and-dance about this feature?</div>
              {% comment %} <div class="slide-content__text--signature">Ben Dickinson</div>
              <div class="slide-content__text--insta">@bendicko95</div> {% endcomment %}
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Xbox_controller.jpg?v=1680214806">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I have bought a few of each of these cables so I did not have to constantly move them around. These are awesome, I use them to charge practically everything, including my Nintendo Switch. Also, I keep an extra cable in the car to hook up to my car system AND charge my phone. I have found their products quite impressive and I will definitely be buying more from them.</div>
              {% comment %} <div class="slide-content__text--signature">Niall Barker</div>
              <div class="slide-content__text--insta">@nillsbarkerd</div> {% endcomment %}
            </div>
         </div>
      </div>
      {% comment %} <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Super_Fast_Charging.jpg?v=1680214806">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I've bought 5 cables within a few months as I was so impressed with the first I bought more for the rest of my family. Very fast charging and very strong, reliable cables. Also bought the nano charger which unfortunately did not come with an Aus adaptor. Brought it to their attention and got a refund right away with an apology! Thanks Andrew for such good service. Highly recommend!!</div>
              <div class="slide-content__text--signature">Niall Barker</div>
              <div class="slide-content__text--insta">@nillsbarkerd</div>
            </div>
         </div>
      </div> {% endcomment %}
       <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Night_light.jpg?v=1680214806">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">Cable is really strong. It can survive more than I thought. My favorite thing about this cable is the green light. You can always find this in the darkness. Not only can you see that the cable has power, but the light helps you find the end of the cable in the dark or just in a tangled mess of cables.</div>
              {% comment %} <div class="slide-content__text--signature">Chris Gosling</div>
              <div class="slide-content__text--insta">@chrisgosling1</div> {% endcomment %}
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Review_on_screen.jpg?v=1680214806">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">Absolutely love the Titan 10-ft charging cables with the 90° connections, the one I ordered five years ago is still an excellent condition, just had to order a new one to change from a micro plug-in to a c cable plug in. You can't beat charging across the room, no idea how I managed before!</div>
              <div class="slide-content__text--signature">Ben Dickinson</div>
              <div class="slide-content__text--insta">@bendicko95</div>
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Strength.jpg?v=1680214806">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I will tell you this i bought alot of cables online and gas stations. Im an Engineer and when i tell you its one of the best and strongest cables i ever bought. I bought 3 cables because I didnt believe the quality of these cables because everyone when they sell you a product talks a good game. TITAN is the best charging product company out there far none. You would think i work for this company by the way i boost there company. I work in healthcare so buy this product if you want quality. They won my business - Wayne M.</div>
              {% comment %} <div class="slide-content__text--signature">Chris Gosling</div>
              <div class="slide-content__text--insta">@chrisgosling1</div> {% endcomment %}
            </div>
         </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
{% schema %}
{
  "name": "Testimonial Slider",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider",
      "category": "Home Page"
    }
  ]
}
{% endschema %}
 <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
const swiper = new Swiper('.mySwiper', {
  slidesPerView: 1,
  spaceBetween: 30,
  pagination: {
    el: '.swiper-pagination',
    clickable: true
  },
  breakpoints: {
      768: {
        slidesPerView: 2,
      }
},
})
</script>