<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<div class="swiper mySwiper slider-section">
<div class="product-image__title slider-section__title">Supercharge Your Lifestyle.</div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn05.zipify.com/i-TGUr6-Q1zTn11UMVUXNsfEdWk=/fit-in/320x0/e12b2c347f5e42ccb157d9911ea6078c/titan-smart-cable-titan-power-plus-charging-iphone-usb-type-c-micro-usb-cords.jpeg">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I've been using my Titan Smart Cable for more than a year now and it is still as intact and strong as it was on day 1. No signs of wear and tear despite being packed up and carried to different locations daily. Best of all is the super-fast charge it gives!</div>
              <div class="slide-content__text--signature">Niall Barker</div>
              <div class="slide-content__text--insta">@nillsbarkerd</div>
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn05.zipify.com/MPjWBZpWoVaNu6mxSXEf8q02aa0=/fit-in/320x0/e77b14fa26434471b18b73780f62eef7/gos-testimonial-min.png">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">Never knew the difference 'power delivery' chargers could make until I tried one of these. Was absolutely blown away by how fast it charged my phone. I won't ever go back to regular cables or plugs ever again! Couldn't recommend enough!</div>
              <div class="slide-content__text--signature">Chris Gosling</div>
              <div class="slide-content__text--insta">@chrisgosling1</div>
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn05.zipify.com/Sro7_xK8dtuipi5XhXlOQpuMGTc=/fit-in/320x0/1bf03316a7904601b4bb725ce59027ad/customer-picture-johnny.jpeg">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I was sent the new Titan Bluetooth car charger to test out and I must say It is really something I can't live without. Having the  freedom to blast out my bangers  from my phone  without any wires  is a god send! And doubling up as a charger I am never left in the dark! Thanks again Titan Power+!</div>
              <div class="slide-content__text--signature">Ben Dickinson</div>
              <div class="slide-content__text--insta">@bendicko95</div>
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn05.zipify.com/i-TGUr6-Q1zTn11UMVUXNsfEdWk=/fit-in/320x0/e12b2c347f5e42ccb157d9911ea6078c/titan-smart-cable-titan-power-plus-charging-iphone-usb-type-c-micro-usb-cords.jpeg">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I've been using my Titan Smart Cable for more than a year now and it is still as intact and strong as it was on day 1. No signs of wear and tear despite being packed up and carried to different locations daily. Best of all is the super-fast charge it gives!</div>
              <div class="slide-content__text--signature">Niall Barker</div>
              <div class="slide-content__text--insta">@nillsbarkerd</div>
            </div>
         </div>
      </div>
       <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn05.zipify.com/MPjWBZpWoVaNu6mxSXEf8q02aa0=/fit-in/320x0/e77b14fa26434471b18b73780f62eef7/gos-testimonial-min.png">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">Never knew the difference 'power delivery' chargers could make until I tried one of these. Was absolutely blown away by how fast it charged my phone. I won't ever go back to regular cables or plugs ever again! Couldn't recommend enough!</div>
              <div class="slide-content__text--signature">Chris Gosling</div>
              <div class="slide-content__text--insta">@chrisgosling1</div>
            </div>
         </div>
      </div>
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="https://cdn05.zipify.com/Sro7_xK8dtuipi5XhXlOQpuMGTc=/fit-in/320x0/1bf03316a7904601b4bb725ce59027ad/customer-picture-johnny.jpeg">
            </div>
            <div class="slide-content__text">
              <div class="slide-content__text--title">I was sent the new Titan Bluetooth car charger to test out and I must say It is really something I can't live without. Having the  freedom to blast out my bangers  from my phone  without any wires  is a god send! And doubling up as a charger I am never left in the dark! Thanks again Titan Power+!</div>
              <div class="slide-content__text--signature">Ben Dickinson</div>
              <div class="slide-content__text--insta">@bendicko95</div>
            </div>
         </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
{% schema %}
{
  "name": "Testimonial Slider",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider",
      "category": "Home Page"
    }
  ]
}
{% endschema %}
 <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
const swiper = new Swiper('.mySwiper', {
  slidesPerView: 1,
  spaceBetween: 30,
  pagination: {
    el: '.swiper-pagination',
    clickable: true
  },
  breakpoints: {
      768: {
        slidesPerView: 2,
      }
},
})
</script>