{{ 'section-treasure.css' | asset_url | stylesheet_tag }}
{{ 'section-treasure.js' | asset_url | script_tag }}


<div class="treasure-banner">
    <img class="w-100 desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Desktop_banner_header_for_treasure_hunt_page.jpg?v=1699457334">
    <img class="w-100 mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_banner_header_for_treasure_hunt_page.jpg?v=1699457333">
</div>
<section class="treasure-top relative">
    <div class="treasure-top__title">
        JOIN THE HUNT
    </div>
    <div class="treasure-top__subtitle">
        Before you run out of time...
    </div>
    <div id="demo" class="treasure-top__counter">
        
    </div>
    <div class="treasure-top__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</section>


<section class="treasure-zig-wrapper">
    <div class="treasure-zig-container">
        <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_path_-1_top.jpg?v=1699453611">
        <img class="w-100 overimage mobile first-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_1_v2.jpg?v=1699466508">
        <div class="treasure-zig">
            <div class="treasure-zig__single relative">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_1_-_unocvered.jpg?v=1699453611">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_1_v2.jpg?v=1699467296">
                    <video muted class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/3d3ea5d1bdf54f2e8445b5411c4e3652.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        70% off + free bag!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Titan Cable Crusade
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Not only black friday prices that give you nan a sizure but your hunt has been fruitful and rewarded you a faboulous prize.
                    </div>
                    <a href="#" class="treasure-zig__single--content__url js-url-reveal">
                        CLAIM PRIZE
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_path_-2_middle.jpg?v=1699453611">
            <img class="w-100 overimage mobile second-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_2_v2.jpg?v=1699466509">
            <div class="treasure-zig__single reverse">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_2_-_unocvered.jpg?v=1699453611">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_2_v2.jpg?v=1699467295">
                    <video muted class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/12379fcdc696489fabc7a38c8969183b.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        60% off + free cable!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Powerbank + Plunder
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Not only black friday prices that give you nan a sizure but your hunt has been fruitful and rewarded you a faboulous prize.
                    </div>
                    <a href="#" class="treasure-zig__single--content__url js-url-reveal">
                        Grab booty
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_path_-3_Bottom.jpg?v=1699453611">
            <img class="w-100 overimage mobile third-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_3_v2.jpg?v=1699466508">
            <div class="treasure-zig__single">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_3_-_uncovered.jpg?v=1699453611">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_3_v2.jpg?v=1699467295">
                    <video muted class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/113ddd974bdf40b18c9758ac50350b76.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        75% off + free dock!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Boom! Travel Bundle
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Not only black friday prices that give you nan a sizure but your hunt has been fruitful and rewarded you a faboulous prize.
                    </div>
                    <a href="#" class="treasure-zig__single--content__url js-url-reveal">
                        Take a treasure
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="treasure-top second">
    <div class="treasure-top__title">
        CLAIM YOUR PRIZE
    </div>
    <div class="treasure-top__subtitle">
        Before you run out of time...
    </div>
    <div id="demo2" class="treasure-top__counter">
        
    </div>
    <div class="treasure-top__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</section>