{{ 'section-treasure.css' | asset_url | stylesheet_tag }}
{{ 'section-treasure.js' | asset_url | script_tag }}


<div class="treasure-banner">
    <img class="w-100 desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Screenshot_2024-03-29_at_13.41.09.png?v=1711716083">
    <img class="w-100 mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Screenshot_2024-03-29_at_13.56.18.png?v=1711716998">
</div>
<section class="treasure-top relative">
    <div class="treasure-top__title">
        EMBARK ON THE EGGSTRAVAGANT EASTER HUNT
    </div>
    <div class="treasure-top__subtitle">
        Uncover Hyper-Charged Tech Deals...
    </div>
    <div style="margin:10px 0" id="demo4" class="treasure-top__counter">

    </div>
    <div class="treasure-top__text">
        Hop into our Easter adventure and hunt down exclusive discounts on cutting-edge power gear. This limited-time spring sale is your chance to score fantastic deals on our latest charging solutions. Get started on your quest today!
    </div>
    </section>


<section class="treasure-zig-wrapper">
    <div class="treasure-zig-container">
        <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_1.png?v=1699472049">
        <img class="w-100 overimage mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_1_v2.jpg?v=1699466508">

        <div class="treasure-zig">
            <div class="treasure-zig__single relative">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/close.png?v=1711701013">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/close.png?v=1711701013">
                    {% comment %} <video autoplay muted playsinline loop class="video reveal" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/73bc9423143d47a58b44d1ea803ae7ec.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/d9f784a8818b4af3beefe85e5869df0b.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        50% OFF!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        MagTech Cable Cove
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Venture into the depths of ludicrous charging capabilities with our MagTech hyper-cable packs - now 50% off! This cable laughs at slow speeds with blistering 120W output.
                    </div>
                    <a href="https://titanpowerplus.com/products/magtech" class="treasure-zig__single--content__url js-url-reveal">
                        Snag the MagTech Deal
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_2.png?v=1699472050">
            <img class="w-100 overimage mobile second-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_2_v2.jpg?v=1699466509">
            <div class="treasure-zig__single reverse">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/close.png?v=1711701013">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/close.png?v=1711701013">
                    {% comment %} <video autoplay muted playsinline loop class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/b72edd1520a143e4a62f2b23932332a5.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/586dfe1b46464436b6c60935b67631fb.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        BUY 1, GET 1 FREE!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Titan Buds Burrow
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Discover the thundering audio prowess of our Titan Buds 2.0 - now Buy 1, Get 1 Free! Don't miss this deal for immersive, pumped-up sound.
                    </div>
                    <a href="https://titanpowerplus.com/products/titan-buds2" class="treasure-zig__single--content__url js-url-reveal">
                        Score Bud Savings
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_3.png?v=1699472049">
            <img class="w-100 overimage mobile third-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_3_v2.jpg?v=1699466508">
            <div class="treasure-zig__single">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/close.png?v=1711701013">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/close.png?v=1711701013">
                    {% comment %} <video autoplay muted playsinline loop class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/c15cc2d0001b43f2811a0463912f353d.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/0e33193a16ee4826b89f403ef737fafd.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>

                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        33% OFF!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Travel Case Treasure Trove

                    </div>
                    <div class="treasure-zig__single--content__text">
                        Navigate nonstop adventures with the ultimate power traveling sidekick - the Titan Travel Case, now 33% off. This water-resistant, TSA-approved case keeps essentials organized anywhere.
 </div>
                    <a href="https://titanpowerplus.com/products/titan-travel-case" class="treasure-zig__single--content__url js-url-reveal">
                        Unlock Case Discount
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="treasure-top second">
    <div class="treasure-top__title">
        SEIZE THESE EASTER DEALS
    </div>
    <div class="treasure-top__subtitle">
        Before The Hunt Ends...
    </div>
    <div style="margin:10px 0" id="demo5" class="treasure-top__counter">

    </div>
    <div class="treasure-top__text">
        But don't delay, these exclusive offers are only around for a limited time! Our Easter sale unleashes these incredible discounts for a very limited window. Don't let these hyper-charged deals slip away - start your adventure now! (edited)
    </div>
</section>


<style>
    .js-image-click.active {
        {% comment %} animation: shake 0.3s;
        animation-iteration-count: 5; {% endcomment %}
    }
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
</style>