{{ 'section-treasure.css' | asset_url | stylesheet_tag }}
{{ 'section-treasure.js' | asset_url | script_tag }}


<div class="treasure-banner">
    <img class="w-100 desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/banner_1_2.jpg?v=1731952335">
    <img class="w-100 mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/banner_2_2.jpg?v=1731952335">
</div>
<section class="treasure-top relative">
    <div class="treasure-top__title">
        GET EARLY ACCESS: BLACK FRIDAY HIDDEN VAULTS!
    </div>
    <div class="treasure-top__subtitle">
        Your Exclusive Sneak Peek into Black Friday’s Biggest Tech Deals!
    </div>
    <div style="margin:10px 0" id="demo4" class="treasure-top__counter">

    </div>
    <div class="treasure-top__text">
        Get ready to unlock the future of charging! Our Hidden Vaults are bursting with early-access deals so good, they’re practically stolen from Black Friday itself. Each vault reveals an exclusive offer, handpicked to power up your life… but hurry, these treasures won’t stay unlocked for long!    </div>
    </section>


<section class="treasure-zig-wrapper">
    <div class="treasure-zig-container">
        <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_1.png?v=1699472049">
        <img class="w-100 overimage mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_1_v2.jpg?v=1699466508">

        <div class="treasure-zig">
            <div class="treasure-zig__single relative">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Video_thumbnail.jpg?v=1731951178">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Video_thumbnail.jpg?v=1731951178">
                    {% comment %} <video autoplay muted playsinline loop class="video reveal" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/73bc9423143d47a58b44d1ea803ae7ec.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/3bf12131f2004ae2a2c9652c27de581c.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        55% OFF
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Vault 1: Go-Charge Bundle
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Unleash the ultimate portable charging solution with the NEW Go-Charge Bundle. This powerful kit is perfect for travel, work, or everyday use. Featuring all our best selling new tech—this bundle ensures you stay powered & organised wherever life takes you.                    </div>
                    <a href="https://titanpowerplus.com/products/gocharge" class="treasure-zig__single--content__url js-url-reveal">
                        GO TO VAULT
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_2.png?v=1699472050">
            <img class="w-100 overimage mobile second-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_2_v2.jpg?v=1699466509">
            <div class="treasure-zig__single reverse">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Video_thumbnail.jpg?v=1731951178">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Video_thumbnail.jpg?v=1731951178">
                    {% comment %} <video autoplay muted playsinline loop class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/b72edd1520a143e4a62f2b23932332a5.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/c6fde19a61ce4255a2e898bca2f70185.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        50% OFF + 2 FREE
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Vault 2: Buy 3, Get 2 FREE MagTech Cables
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Vault 2: Buy 3, Get 2 FREE MagTech Cables
                        Load up on the ultimate charging beast! Our 120W Titan MagTech Cables are unbreakable, lightning-fast, and magnetically wind together. With this deal, stock up for every device and snag two extra cables FREE.
                                            </div>
                    <a href="https://titanpowerplus.com/products/magtechb3g2f " class="treasure-zig__single--content__url js-url-reveal">
                        GO TO VAULT
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_3.png?v=1699472049">
            <img class="w-100 overimage mobile third-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_3_v2.jpg?v=1699466508">
            <div class="treasure-zig__single">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Video_thumbnail.jpg?v=1731951178">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Video_thumbnail.jpg?v=1731951178">
                    {% comment %} <video autoplay muted playsinline loop class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/c15cc2d0001b43f2811a0463912f353d.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/a2d7919f79ec40259d1a36bdce47fddf.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>

                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        +FREE CABLE
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Vault 3: Plugs + Free Cable

                    </div>
                    <div class="treasure-zig__single--content__text">
                        Kick off your charging upgrade with this unbeatable duo! Unlock a turbo-charged Titan Plug and pair it with our legendary Titan Smart Cable… absolutely free. Blistering speeds, maximum safety, and no extra cost? Yes, please! </div>
                    <a href="https://titanpowerplus.com/pages/plugsgift" class="treasure-zig__single--content__url js-url-reveal">
                        GO TO VAULT
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="treasure-top second">
    <div class="treasure-top__title">
        Vaults Close Without Warning…⏳
    </div>

    <div style="margin:10px 0" id="demo5" class="treasure-top__counter">

    </div>
    <div class="treasure-top__text">
        Vaults Close Without Warning…⏳
        These vaults are your exclusive sneak peek into what’s to come on Black Friday, but they’ll lock again at any moment. Don’t miss this limited-time opportunity to claim early-access deals and get ahead of the crowd!
            </div>
            <div class="treasure-top__subtitle">
                🔓 Unlock the Vaults Now!
            </div>
</section>


<style>
    .js-image-click.active {
        {% comment %} animation: shake 0.3s;
        animation-iteration-count: 5; {% endcomment %}
    }
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
</style>