{{ 'section-treasure.css' | asset_url | stylesheet_tag }}
{{ 'section-treasure.js' | asset_url | script_tag }}


<div class="treasure-banner">
    <img class="w-100 desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Desktop_banner_header_for_treasure_hunt_page_6b4c2ce5-eecd-4084-81d8-8c1a560d4a49.jpg?v=1699474703">
    <img class="w-100 mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_banner_header_for_treasure_hunt_page.jpg?v=1699457333">
</div>
<section class="treasure-top relative">
    <div class="treasure-top__title">
        EMBARK ON THE CYBER TREASURE HUNT
    </div>
    <div class="treasure-top__subtitle">
        Uncover Hidden Tech Gems...
    </div>
    <div style="margin:10px 0" id="demo4" class="treasure-top__counter">
        
    </div>
    <div class="treasure-top__text">
        Dive into the Cyber Monday seas and navigate your way to exclusive tech treasures. This unique treasure hunt is your chance to discover amazing deals and gifts, available only during this Cyber Monday sale. Begin your quest for cutting-edge technology today!
    </section>


<section class="treasure-zig-wrapper">
    <div class="treasure-zig-container">
        <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_1.png?v=1699472049">
        <img class="w-100 overimage mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_1_v2.jpg?v=1699466508">

        <div class="treasure-zig">
            <div class="treasure-zig__single relative">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_1_-_unocvered_v2_a0c77ec9-374e-454b-9191-cf6249d68940.jpg?v=1699536776">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_1_v2_1.jpg?v=1699469802">
                    {% comment %} <video autoplay muted playsinline loop class="video reveal" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/73bc9423143d47a58b44d1ea803ae7ec.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline loop aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/3034c0a3b5694bc8924bdd0236e4612f.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        80% OFF + FREE PD CAR PLUG!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Titan Cables Odyssey
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Embark on a journey of unbeatable durability with our titan cable packs. Now at a staggering 80% off. Plus, unearth a free Nano PD Car Plug to keep your devices powered during your travels.</div>
                    <a href="https://titanpowerplus.com/pages/cable-packs-bfcm22" class="treasure-zig__single--content__url js-url-reveal">
                        CLAIM TREASURE
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_2.png?v=1699472050">
            <img class="w-100 overimage mobile second-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_2_v2.jpg?v=1699466509">
            <div class="treasure-zig__single reverse">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_2_-_unocvered_v2_dafc2a45-69ec-4926-954f-38f1f7536084.jpg?v=1699536775">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_2_v2_5dd1bda3-1412-4aa4-ad77-355e572184b2.jpg?v=1699536776">
                    {% comment %} <video autoplay muted playsinline loop class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/b72edd1520a143e4a62f2b23932332a5.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline loop aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/387e760638ae440f9a851b1d4b096854.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        65% OFF + FREE TITAN CABLE!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Multi-Cable Marvels
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Discover the versatility of the 3-in-1 Multi Cable, now at 65% off. Your purchase also brings along a free Titan Cable, adding more power to your tech arsenal. Embrace the convenience of multi-device charging!
                    </div>
                    <a href="https://titanpowerplus.com/products/titan-3-in-1-multi-cable" class="treasure-zig__single--content__url js-url-reveal">
                        CLAIM TREASURE
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_3.png?v=1699472049">
            <img class="w-100 overimage mobile third-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_3_v2.jpg?v=1699466508">
            <div class="treasure-zig__single">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_3_-_uncovered_v3_4b5968e0-57db-4ea3-99d7-1dbf27f36497.jpg?v=1699536776">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_3_v2_cda2a8d7-13a9-4e64-ae08-b3692291a005.jpg?v=1699536776">
                    {% comment %} <video autoplay muted playsinline loop class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/c15cc2d0001b43f2811a0463912f353d.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline loop aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/6be0cd00a330433186f577e560ca2e55.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                    
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        80% OFF + FREE DOCK
                    </div>
                    <div class="treasure-zig__single--content__title">
                        New Age Kit Voyage
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Navigate the future of tech with every New Age Kit you acquire. As a special treasure, receive a free Turbo Dock to accelerate your charging experience. Modernize your tech journey with this exclusive offer.
 </div>
                    <a href="https://titanpowerplus.com/pages/newagekit23" class="treasure-zig__single--content__url js-url-reveal">
                        CLAIM TREASURE
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="treasure-top second">
    <div class="treasure-top__title">
        SEIZE YOUR CYBER TREASURES
    </div>
    <div class="treasure-top__subtitle">
        Before The Sale Sails Away...
    </div>
    <div style="margin:10px 0" id="demo5" class="treasure-top__counter">
        
    </div>
    <div class="treasure-top__text">
        Remember, these shores of savings are fleeting! Our Cyber Monday treasure hunt offers you these incredible deals for a limited time. Don't let these tech treasures slip away - embark on your shopping adventure now and claim your bountiful haul before the tide turns!
        </div>
</section>


<style>
    .js-image-click.active {
        animation: shake 0.3s;
        animation-iteration-count: 5;
    }
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
</style>