{{ 'section-treasure.css' | asset_url | stylesheet_tag }}
{{ 'section-treasure.js' | asset_url | script_tag }}


<div class="treasure-banner">
    <img class="w-100 desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Desktop_banner_header_for_treasure_hunt_page_6b4c2ce5-eecd-4084-81d8-8c1a560d4a49.jpg?v=1699474703">
    <img class="w-100 mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_banner_header_for_treasure_hunt_page.jpg?v=1699457333">
</div>
<section class="treasure-top relative">
    <div class="treasure-top__title">
        JOIN THE HUNT
    </div>
    <div class="treasure-top__subtitle">
        Before your treasure is lost forever...
    </div>
    <div id="demo" class="treasure-top__counter">
        
    </div>
    <div class="treasure-top__text">
        Seize your tech treasures before they vanish with the tides! Navigate our Mystery Box treasure map and claim your exclusive gadgets and gifts within 48 hours. Set sail now    </div>
</section>


<section class="treasure-zig-wrapper">
    <div class="treasure-zig-container">
        <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_1.png?v=1699472049">
        <img class="w-100 overimage mobile first-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_1_v2_83f47aee-c191-407e-b5e3-088dbc519189.jpg?v=1699536775">
        <div class="treasure-zig">
            <div class="treasure-zig__single relative">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_1_-_unocvered_v2_a0c77ec9-374e-454b-9191-cf6249d68940.jpg?v=1699536776">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_1_v2_1.jpg?v=1699469802">
                    {% comment %} <video autoplay muted playsinline loop class="video reveal" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/73bc9423143d47a58b44d1ea803ae7ec.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline loop aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/73bc9423143d47a58b44d1ea803ae7ec.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        65% off + free bag!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Titan Cable Crusades
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Anchor your gadgets with the might of The Titan Cables, and haul in a complimentary Cable Bag to stow your tech treasures. A connection as enduring as the legend itself awaits!                    </div>
                    <a href="https://titanpowerplus.com/pages/titancable" class="treasure-zig__single--content__url js-url-reveal">
                        CLAIM TREASURE
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_2.png?v=1699472050">
            <img class="w-100 overimage mobile second-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_2_v2.jpg?v=1699466509">
            <div class="treasure-zig__single reverse">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_2_-_unocvered_v2_dafc2a45-69ec-4926-954f-38f1f7536084.jpg?v=1699536775">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_2_v2_5dd1bda3-1412-4aa4-ad77-355e572184b2.jpg?v=1699536776">
                    {% comment %} <video autoplay muted playsinline loop class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/b72edd1520a143e4a62f2b23932332a5.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline loop aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/b72edd1520a143e4a62f2b23932332a5.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        60% off + free cable!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Powerbank + Plunder
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Chart a course to boundless energy with our Wireless power bank. For explorers on the go, discover a bonus Titan cable that's as versatile as it is vital for your voyages                    </div>
                    <a href="https://titanpowerplus.com/pages/powerbank_bfcm" class="treasure-zig__single--content__url js-url-reveal">
                        CLAIM TREASURE
                    </a>
                </div>
            </div>
            <img class="w-100 overimage desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_map_path_images_-_3.png?v=1699472049">
            <img class="w-100 overimage mobile third-image" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_path_3_v2.jpg?v=1699466508">
            <div class="treasure-zig__single">
                <div class="treasure-zig__single--image js-image-click">
                    <img class="first js-image desktop" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Map_3_-_uncovered_v3_4b5968e0-57db-4ea3-99d7-1dbf27f36497.jpg?v=1699536776">
                    <img class="first js-image mobile" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Mobile_map_3_v2_cda2a8d7-13a9-4e64-ae08-b3692291a005.jpg?v=1699536776">
                    {% comment %} <video autoplay muted playsinline loop class="video" controls="false">
                        <source src="https://cdn.shopify.com/videos/c/o/v/c15cc2d0001b43f2811a0463912f353d.mp4" type="video/mp4">
                    </video> {% endcomment %}
                    <video  class="video" autoplay muted playsinline loop aria-label="Easy Pull System">
                        <source src="https://cdn.shopify.com/videos/c/o/v/c15cc2d0001b43f2811a0463912f353d.mp4" type="video/mp4"><p>Your browser does not support the video tag.</p></video>
                    
                </div>
                <div class="treasure-zig__single--content relative">
                    <div class="treasure-zig__single--content__upper js-upper-reveal">
                        75% off + free dock!
                    </div>
                    <div class="treasure-zig__single--content__title">
                        Boom! Travel Bundle
                    </div>
                    <div class="treasure-zig__single--content__text">
                        Discover the Wireless Dock Travel Bundle, with Titan Earbuds, a versatile charging dock, and an all-in-one cable kit. Claim the Turbo Wireless Dock as your victorious plunder!                    </div>
                    <a href="https://titanpowerplus.com/pages/wirelesstravelbundle" class="treasure-zig__single--content__url js-url-reveal">
                        CLAIM TREASURE
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="treasure-top second">
    <div class="treasure-top__title">
        CLAIM YOUR PRIZE
    </div>
    <div class="treasure-top__subtitle">
        Before you run out of time...
    </div>
    <div id="demo2" class="treasure-top__counter">
        
    </div>
    <div class="treasure-top__text">
        Time and tide wait for no one! C Throughout this month we are giving you a snapshot of early access black friday offers, each for 48 hours only. Claim black friday prices now with your special gifts    </div>
</section>