select.variant-selector-1.Cable.Type {
    border: 0px;
}

select.variant-selector-2.Length {
    border: 0px;
}

.slide-content__image img {
    width: 100%;
    box-shadow: 0 0 0px #35ff2ec2;
    border: 0px solid #35ff2ec2;
}

#shopify-section-template--16738820260018__section_image_tabs_zKw6gN .image-tabs__button {
    letter-spacing: 0.0em;
}





.video-section__poster, .video-section__media iframe, .video-section__media video {
    border: 1px solid #fff;
    box-shadow: 0 0 9px #ffffffc2;
    border-radius: 20px;
}


