select.variant-selector-1.Cable.Type {
    border: 0px;
}

select.variant-selector-2.Length {
    border: 0px;
}

.slide-content__image img {
    width: 100%;
    box-shadow: 0 0 0px #35ff2ec2;
    border: 0px solid #35ff2ec2;
}