.product-template__wrapper--content__form--atc.reverse button {
    background-color: #131313;
    color: #60c655;
    transition: all 1s;
}
.product-template__wrapper--content__form--atc.reverse button:hover {
    color: #131313;
    background-color: #60c655;
    transition: all 1s;
}
.product-addtocart {
    overflow: scroll;
    z-index: 9999999999999999999;
    top:0;
    position: fixed;
    width:100%;
    height: 100%;
    display: block;
    background-color: #000000;
    padding-bottom: 200px;
    &.hidden {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
    }
}
#battery {
    box-sizing: content-box;
    height: 7.8em;
    width: 17.5em;
    border: 0.6em solid #35ff2e;
    margin: auto;
    border-radius: 0.6em;
    position: relative;
    display: grid;
    place-items: center;
  }
  #battery:before {
    position: absolute;
    content: "";
    height: 5em;
    width: 1.1em;
    background-color: #35ff2e;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -1.6em;
    border-radius: 0 0.3em 0.3em 0;
  }
  #charge {
    position: absolute;
    height: 6.5em;
    width: 16.25em;
    background-color: #35ff2e;
    top: 0.6em;
    left: 0.6em;
    display:block;
  }
  #charge-level {
    position: absolute;
    font-size: 2em;
    font-weight: 500;
  }
  #charging-time {
    text-align: center;
    font-size: 1.7em;
    margin-top: 1.4em;
  }
  .active {
    animation: charge-animation 3s infinite linear;
  }
@keyframes charge-animation {
0% {
    width: 0;
}
100% {
    width: 16.25em;
}
}