.product-template__wrapper--content__review {
    display: none;
}
.product-icons img {
    display: block;
    text-align: center;
    margin: 10px auto;
    max-width: 75px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px 0px #474747;
    border-radius: 30px;
    padding: 10px;
}
.product-zig-icons img {
    display: block;
    text-align: center;
    margin: 10px auto;
    max-width: 75px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px 0px #474747;
    border-radius: 30px;
    padding: 10px;
}
.slider-outer {
    margin-top: 0;
    background: #D6E1E1;;
}
.swiper-pagination-bullet:after {
    background: black;
}
.product-icons, .product-zig-icons {
    background-color: #dfdfdf;
    padding: 50px 0;
    background-color: #E4EAEA;
}
.product-image {
    background: #D6E1E1;
}
.product-zig__single {
    padding: 0;
}
.product-zig {
    background-color: #D6E1E1;
}
.product-rev {
    background-color: #E4EAEA;
}
.w85 {
    width:85%;
    margin: 0 auto;
}