.titan-bg-black {
    background-color: #E4EAEA !important;
}
.product-template-new {
    padding: 40px 1.28%;
}
.product-template-new .label-holder__speed {
    opacity: 1;
}
.product-template-new .label-holder {
    margin-bottom: 20px;
}
.product-template-new__wrapper--content__selection--wrapper__single.bg-none:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.master-product {
    box-shadow: none;
}
.bg-none {
    background-color: transparent;
}
.bg-none.active::after {
    display: none;
}
.decoy-content__price, .master-product .decoy-content__price {
    color: #60C655;
}
.decoy-title {
    border-radius: 30px;
    overflow: hidden;
    z-index: 9999;
    box-shadow: 0px 3px 6px 0px #bdbdbdd1;
}
.light-wrapper {
    gap:10px;
}
.light-wrapper .product-template-new__wrapper--content__selection--wrapper__single {
    flex: 0 0 30.333%;
}
.product-template-new__wrapper--content__selection--wrapper__single:hover .decoy-content__price {
    color: black;
}
.product-template-new__wrapper--content__selection--wrapper__single.active .decoy-content__price {
    color: black;
}
.decoy-content {
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-top: -10px;
    padding-top:10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.price-div {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    background: white;
    border-radius: 20px;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}
.js-saving {
    color:black;
}
.js-price {
    color:#60c655cc;
}
.bg-titan-green {
    background-color: #60c655;
    color: white;
}
.product-template-new label {
    cursor: pointer;
    width: 195px;
    height: 50px;
    background: #d8e1e2;
    #d8e1e2;
    display: block;
    border-radius: 30px;
    position: relative;
    margin: 20px auto 0;
    box-shadow: 0px 3px 6px 0px #bdbdbdd1;
}
.product-template-new input:checked+label {
    background: #d8e1e2;
}
.label-holder.new-holder label:after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 95px;
    height: 40px;
    background: #60c655;
    border-radius: 25px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.product-template-new input:checked+label:after {
    content: "USB-C";
}
.product-template-new__wrapper--content__selection--wrapper__single {
    background:#d8e1e2;
}
.product-template-new__wrapper--content__selection--wrapper__single.bg-none {
    background: none;
    box-shadow: none;
}


.product-template-new__wrapper--content__selection--wrapper__single:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.product-template-new__wrapper--content__selection--wrapper__single.active:after {
    content: "";
    width: 94%;
    height: 88%;
    position: absolute;
    background-color: #60c655cc;
    top: 6%;
    left: 3%;
    border-radius: 25px;
}
.product-template-new__wrapper--content__selection--wrapper__single:last-child {
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
}
.product-template-new__wrapper--content__selection--wrapper.small-top {
    margin-top: 10px;
    box-shadow: 0px 3px 6px 0px #bdbdbdd1;
    border-radius: 25px;
}
.switch {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: 700;
    font-style: italic;
}
.product-template__info {
    margin-top: 20px;
}
.product-template-new__wrapper--content__add--colored {
    position: relative;
    background-color: #141414;
    border-radius: 15px;
    padding: 10px 20px 5px;
    box-shadow: 1px 2px 8px #35ff2ec2;
    margin-top: 25px;
    background: #eee;
    color: black;
    box-shadow: 0px 3px 6px 0px #bdbdbdd1;
}
.product-template-new__wrapper--content__add--image {
    transform: scale(2);
    max-width: 13%;
    margin-right: 5px;
    margin-top: 17px;
    margin-left: 50px;
}
.product-template-new__wrapper--content__add--colored.pd {
    margin-top: 20px;
    z-index: unset;
}
.product-template-new__wrapper--content__add--title:before {
    border:2px solid #60c655;
}
.product-template-new__wrapper--content__selection {
    z-index: 1;
    position: relative;
}
.product-template-new__wrapper--content__add--colored.pd {
    padding-bottom: 0;
}
.new-label {
    margin-bottom: -10px !important;
}
.product-template-new__wrapper--content__imageSelection {
    margin: 0;
}
.disabled .transform {
    color: #3f3f3f;
}
.disabled .zindex {
    color: #3f3f3f;
}
.arrow-right, .arrow-left {
    color:#60c655;
}
.switch .pd {
    margin-right: 15px;
}
.arrow-left {
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-right: 0px;
    animation-name: pulse90;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-left: 0;
    color: #60c655;
}
.color-black {
    color: #393939 !important;
}
.product-template-new, .label-holder__title, .product-template-new, .label-holder__speed, .zindex {
    font-style: normal !important;
}
.product-zig__single--image {
    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 6px 0px #474747;
    border-radius: 30px;
    padding-top: 60%;
}
.product-zig__single--image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 20px;
}
.product-template-new__wrapper--content__add--colored.pd {
    padding-bottom: 0;
    padding-right: 15%;
    justify-content: space-between;
}
@media only screen and (max-width: 768px) {
    .product-template-new__wrapper--content__add--colored.pd {
        padding-bottom: 0;
        padding-right: 0%;
        justify-content: flex-start;
    }
    .price-div {
        font-weight: 700;
        font-size: 20px;
        background: white;
        border-radius: 20px;
        max-width: 90%;
        margin: 20px auto 0;
    }
    .product-zig__single--image {
        padding-top: 0;
    }
    .product-zig__single--image img {
        position: relative;
    }
    .product-zig__single.reverse .product-zig__single--image {
        padding-right: 0;
    }
    .product-zig__single--image {
        box-shadow: none;
    }
    .product-template__wrapper--content__form--atc button {
        padding: 20px 20px;
        font-size: 24px;
    }
}
.product-template-new__wrapper--content__features--name:before {
    display: none;
}
.bullet {
    width:30px;
    height: 30px;
}
.bullet img {
    width: 100%;
}
.product-template-new__wrapper--content__features--name {
    margin: 8px 0;
    position: relative;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 5px;
}
.product-template-new__wrapper--content__add--image img {
    box-shadow: none;
    border-radius: 5px;
}
.product-template-new__wrapper--content__add--title:before {
    background-color: white;
}
.product-template-new__wrapper--content__add--title:after {
    display: none;
    position: absolute;
    top: 49%;
    left: 21px;
    width: 37px;
    height: 46px;
    background-position: center;
}
.added .product-template-new__wrapper--content__add--title:after {
    display: block;
    width: 25px;
    height: 25px;
}
.decoy-title {
    border-radius: 20px;
    box-shadow: 0 3px 6px #606060d1;
}
.decoy-content {
    background: #FFFFFF;
    border-radius: 20px;
}
.titan-red, .titan-red .money {
    color: #C75A5A!important;
    font-size: 11px;
}
.price-div {
    max-width: 80%;
    font-size:14px;
}
.product-template-new__wrapper--content__add--colored {
    padding: 0px 50px 5px;
}
.product-template-new__wrapper--content__selection--wrapper__single.active {
    color: #fff;
}
.product-template-new__wrapper--content__selection--wrapper__single.active img {
    border: 3px solid #60c655;
    border-radius: 20px;
}
.active .transform {
    color: #fff;
}
.js-main-image-change {
    box-shadow: 0 3px 6px #474747;
    border-radius: 30px;
}
.btn--add-to-cart {
    cursor: pointer;
}

.container-bar {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 94%;
}
.container-bar.hide {
    display: none;
}
.bar {
    background-color: #60c655;
    min-width: 100%;
    min-height: 5px;
    position: relative;
    overflow: hidden;
    display: block !important;
}
.bar::after {
    content: "";
    min-height: 5px;
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    animation: animate 2s infinite;
}
.bar::before {
    content: "";
    min-height: 5px;
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    animation: animate 2s infinite;
    animation-delay: 1s;
}
@keyframes animate {
    0% {
      transform: translateX(-150%);
      min-width: 100px;
    }
    100% {
      transform: translateX(300%);
      min-width: 400px;
    }
}
.view-cart {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: black;
    font-size: 20px;
}
.view-cart.hidden {
    display: none;
}

.atc-fixed {
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 99999999999;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
    border-top: 1px solid rgb(229,229,229);
    background-color: #fafafa;
}

.atc-fixed .buds-product__inner--content__atc {
        margin: 0;
    }
.atc-fixed__container {
    margin: 0 auto;
    padding: 20px 36px;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 9px #474747;
    background-color: white;
    background-image: linear-gradient(to right, #D6E1E1 , #fff);
}
.atc-fixed.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in;
}

.atc-fixed .buds-product__inner--content__subtitle {
    font-weight: 100;
    font-family: Work Sans,sans-serif;
    color: #000;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 0;
}

.sticky-button {
    border-radius: 18px;
    text-align: center;
    padding: 15px 32px;
    background-color: #60C655;
    color: #FFFFFF;
    font-weight: 600;
    font-family: Work Sans,sans-serif;
    letter-spacing: 1px;
    line-height: 1.15;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 16px;
    width: 40%;
} 

@media only screen and (max-width: 600px) {
    .atc-fixed__container {
        flex-direction: column;
    }
    .sticky-button {
        width: 80%;
        padding: 10px 32px;
    }
    .atc-fixed .buds-product__inner--content__subtitle {
        font-size: 17px;
    }
    .atc-fixed__container {
        padding: 10px 36px;
    }
}
.product-template__info p, .product-template-new__info p {
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.75) !important;
}
.faq {
    background-color: #d6e1e1 !important;
}
.faq .product-image__title {
    color: #393939!important;
}
.faq .accordion h4, .faq .accordion p {
    color: #393939!important;
}
.faq .accordion {
    border-bottom: 2px solid black;
}
.faq {
    padding: 80px 20px 80px !important;
}