/*New additions Mobile & Desktop May 5th*/

.product-template-new .label-holder__title {
    color: #ffffffbf !important;
}

.product-template-new .label-holder__title {
    margin-bottom: -22px !important;
}

.product-template-new label {
    height: 45px !important;
}

.label-holder.reverse-holder label:after {
    height: 35px !important;
}

.js-saving {
    margin-top: -5px !important;
}

.product-template-new__wrapper--content__selection--wrapper__single.active:after {
    background-color: #60c655 !important;
}

.product-template-new__wrapper--content__selection--wrapper__single {
    min-height: 3.5rem !important;
}

.master-product {
    box-shadow: inset 1px 0 14px #35ff2e !important;
}

.decoy-title {
    font-size: 16px !important;
    margin-top: 0.4rem !important;
    text-transform: none !important;
    font-style: normal !important;
}

.transform {
    text-transform: none !important;
    font-style: normal !important;
}

.product-template-new__wrapper--content__add--image img {
    box-shadow: 1px 1px 7px #35ff2e !important;
    border-radius: 6px !important;
}

.product-template-new__wrapper--content__add--colored {
    position: relative !important;
    background-color: #0d0d0d !important;
    border-radius: 10px !important;
    padding: 10px 20px 5px !important;
    box-shadow: inset 0px 0px 7px 2px #35ff2ec2 !important;
    margin-top: 25px !important;
}


@media only screen and (max-width: 768px)
.product-template-new__wrapper--content__selection--wrapper {
    margin: 10px 0 18px !important;
}

.product-template-new__wrapper--content__add--colored.pd {
    margin-top: 0px !important;
}

.product-template-new__wrapper--content__selection--wrapper__single.active .decoy-content__price {
    color: #000 !important;
}

.product-template-new__icons--item__icon {
    margin-left: 25px !important;
}

@media only screen and (max-width: 768px)
.product-template-new__wrapper--content__selection--wrapper__save {
    top: -23px !important;
}

.d-none {
    display:none;
}
.value-slider {
    margin-bottom:70px;
    margin-top: -50px;
}
.value-slider .slider .active img {
    margin-top:-10px;
}
.product-template-new__wrapper--content__imageSelection {
    margin-top:20px;
}
@media only screen and (max-width: 768px) {
    .value-slider {
        margin-bottom:55px;
        margin-top: -50px;
    }
}
.product-template-new__wrapper--content__add--title:after {
    background-size: contain;
}
.price-div {
    margin-top: -10px;
}
.value-slider .slider div {
    opacity: .3;
}
.switch {
    font-size:13px;
}
.product-template-new__wrapper--content__add--title:after {
    top: 47%;
}