/*!******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/dist/cjs.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/hero/hero.css ***!
  \******************************************************************************************************************************************************************************************************************/
.hero {
    position: relative;
    overflow: hidden;
    min-height: 133vw;
}
@media only screen and (min-width: 600px) {
    .hero {
        min-height: 70vw;
    }
}
@media only screen and (min-width: 768px) {
    .hero {
        min-height: 41vw;
    }
}
.hero__section-image {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
}
.hero__section-image img {
            -o-object-fit: cover;
               object-fit: cover;
            height: 100%;
        }
.hero .box-ratio {
        display: block;
        height: 0;
        width: 100%;
        overflow: hidden;
        background-color: #f1f1f1;
}
.hero .box-ratio img {
            width:100%;
        }
.hero__textbox {   
        max-width: 550px;
        margin-left:20px;
        z-index: 9999;
}
@media only screen and (min-width: 768px) {
    .hero__textbox {
        margin-left:60px;
    }
}
.hero__textbox--subtitle {
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            margin-bottom:20px;
}
@media only screen and (min-width: 1024px) {
    .hero__textbox--subtitle {
        font-size: 14px;
        line-height: 17px;
    }
}
.hero__textbox--title {
            font-weight: 400;
            margin-bottom:40px;
            font-size: 40px;
            line-height: 120%;
            font-family: 'SangBleu OG Sans Trial' !important;
}
@media only screen and (min-width: 1024px) {
    .hero__textbox--title {
        font-size: 60px;
        line-height: 85px;
    }
}
