/*!**************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/dist/cjs.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/hp-video/hp-video.css ***!
  \**************************************************************************************************************************************************************************************************************************/
.mobile-video {
    padding-top: 100%;
    margin-top: 51px;
    margin-bottom: 51px;
}
    .mobile-video__poster {
        position: absolute;
        top:0;
        z-index: 99999;
        width: 100%;
        height: 100%;
    }
    .mobile-video__poster img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
    .mobile-video__poster--hide {
            visibility:hidden;
            opacity:0;
            left:-10000px;
        }
    .mobile-video__video {
        margin-bottom: 51px;
        position: absolute;
        top:0;
    }
    .mobile-video__video video {
            width: 100%;
        }
