/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/lib/index.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/product-icons/product-icons.css ***!
  \*************************************************************************************************************************************************************************************************************************************/
.product-zig-icons {
    background-color: #141414;
    padding: 50px 0;
}
@media only screen and (max-width: 768px) {
    .product-zig-icons {
        padding: 40px 20px;
    }
}
.product-zig-icons {
    font-size: 16px;
    margin-top:50px;
}
.product-zig-icons__wrapper--icon {
            width:25%;
        }
@media only screen and (max-width: 768px) {
    .product-zig-icons__wrapper--icon {
        width:50%;
    }
}
.product-zig-icons__wrapper--icon {
    text-align: center;
}
.product-zig-icons img {
        display: block;
        text-align:center;
        margin: 10px auto;
        max-width: 50px;
}
.product-icons {
    background-color: #141414;
    padding: 50px 0;
}
@media only screen and (max-width: 768px) {
    .product-icons {
        padding: 40px 20px;
    }
}
.product-icons {
    font-size: 16px;
    margin-top:50px;
}
.product-icons .product-template__wrapper--content__review {
        width:20%;
        margin-top:0px;
}
@media only screen and (max-width: 768px) {
    .product-icons .product-template__wrapper--content__review {
        width:100%;
        margin-top:20px;
    }
}
.product-icons__wrapper--icon {
            width:20%;
        }
@media only screen and (max-width: 768px) {
    .product-icons__wrapper--icon {
        width:50%;
    }
}
.product-icons__wrapper--icon {
    text-align: center;
}
.product-icons img {
        display: block;
        text-align:center;
        margin: 10px auto;
        max-width: 50px;
}
.desktop-hide {
    display:none;
}
@media only screen and (max-width: 768px) {
    .desktop-hide {
        display:block;
    }
}
.desktop-show {
    display:block;
}
@media only screen and (max-width: 768px) {
    .desktop-show {
        display:none;
    }
}
