/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/lib/index.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/product-icons/product-icons.css ***!
  \*************************************************************************************************************************************************************************************************************************************/
.product-icons {
    background-color: #141414;
    padding: 50px 0;
    font-size: 16px;
    margin-top:50px;
}
    .product-icons img {
        display: block;
        text-align:center;
        margin: 10px auto;
        max-width: 50px;
    }
