/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/lib/index.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/product-template/product-template.css ***!
  \*******************************************************************************************************************************************************************************************************************************************/
.product-template__wrapper {
        gap:40px;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .product-template__wrapper--content__review {
                line-height: 1.6;
                font-size: 20px;
            }
        .product-template__wrapper--content__review--mark {
                    font-weight: 600;
                    font-size: 28px;
                }
        .product-template__wrapper--content__review--number {
                    font-size: 18px;
                }
        .product-template__wrapper--content__title {
                margin: 8px 0 20px;
                animation: light 3s linear;
                letter-spacing: 0.06rem;
            }
        .product-template__wrapper--content__features {
                font-size: 21px;
                line-height: 25px;
                color:#efefef;
                font-weight: 200;
            }
        @media only screen and (max-width: 991px) {
        .product-template__wrapper--content__features {
                font-size:19x;
        }
}
        @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__features {
                font-size:18x;
        }
}
        .product-template__wrapper--content__features--name {
                    margin: 8px 0;
}
