/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/dist/cjs.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/collection-carousel/collection-carousel.css ***!
  \************************************************************************************************************************************************************************************************************************************************/
.b-collection-carousel {
    padding: 5.6rem 0;
}

.b-collection-carousel__wrapper {
    max-width: 124rem;
    margin-inline: auto;
}

.b-collection-carousel__wrapper .swiper-slide {
        height: auto;
    }

.b-collection-carousel__headline {
    margin-bottom: 4rem;
    line-height: 110%;
    padding-inline: 2rem;
}

.b-collection-carousel__tabs {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 1.2rem;
    margin-bottom: 3rem;
    position: relative;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.b-collection-carousel__tabs .active {
    background-color: rgb(96, 198, 85);
    color: #fff;
}

.b-collection-carousel__tab {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 2rem;
    white-space: nowrap;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.b-collection-carousel__products {
    display: none;
}

.b-collection-carousel__product-title {
    font-size: 1.2rem;
    line-height: 130%;
    letter-spacing: 2.4px;
    max-width: 32rem;
    margin-inline: auto;
    text-align: center;
}

.b-collection-carousel__product-price {
    color: red;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.4px;
    margin-top: 1rem;
    text-align: center;
    text-decoration: line-through;
}

.b-collection-carousel__navigation ::after {
        color: black !important;
    }

.b-collection-carousel__navigation .swiper-button-prev {
        left: -0.3rem;
        width: 3rem;
    }

.b-collection-carousel__navigation .swiper-button-next {
        right: -0.3rem;
        width: 3rem;
    }

@media(max-width:767px) {
    .b-collection-carousel__navigation {
        display: none;
    }
}

.b-collection-carousel__shadow--left {
    position: absolute;
    width: 8.8rem;
    height: 3.8rem;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 98.44%);
    display: none !important;
    z-index: 2;
}

.b-collection-carousel__shadow--right {
    position: absolute;
    width: 8.8rem;
    height: 3.8rem;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 98.44%);
    display: none !important;
}

.b-collection-carousel__product img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 1.2rem;
    height: 20rem;
    border-radius: 20px;
}

.b-collection-carousel__products.active {
    display: block;
}

.b-collection-carousel__tabs.dragging {
    cursor: grab !important;
    scroll-behavior: auto;
}

.b-collection-carousel__tabs ::-webkit-scrollbar {
    display: none;
}

.b-collection-carousel__product {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.b-collection-carousel__product button {
        border-radius: 20px;
        max-width: 14rem;
        text-align: center;
        width: 100%;
        color: #fff;
        background-color: rgb(96, 198, 85);
        height: 40px;
        font-size: 15px;
        border: none;
        margin-inline: auto;
        margin-top: 20px;
    }

@media (min-width: 768px) {
    .b-collection-carousel {
        padding: 10rem 0 8rem;
    }

    .b-collection-carousel__product {
        padding: 16px;
        background: linear-gradient(360deg, #fff 0%, #d6e1e1 60%);
    }

    .b-collection-carousel__headline {
        line-height: 130%;
    }

    .b-collection-carousel__tabs-wrapper {
        width: -moz-fit-content;
        width: fit-content;
        margin-inline: auto;
        position: relative;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .b-collection-carousel__shadow--right {
        display: none !important;
    }

    .b-collection-carousel__tabs {
        gap: 1.6rem;
        width: 76.8rem;
        margin-inline: auto;
        overflow-x: hidden;
        margin-bottom: 1.8rem;
        padding-right: 5rem;
    }

    .b-collection-carousel__tabs.dragging {
        cursor: grab !important;
        scroll-behavior: auto;
    }

    .b-collection-carousel__tabs ::-webkit-scrollbar {
        display: none;
    }

    .b-collection-carousel__products.active {
        display: block;
    }

    .b-collection-carousel__product img {
        margin-bottom: 1.6rem;
        height: 26rem;
    }

    .b-collection-carousel__products {
        padding-inline: 3rem;
    }
}

.b-collection-carousel__headline {
    margin-bottom: 4rem;
    line-height: 110%;
    padding-inline: 2rem;
}

.b-collection-carousel__tabs {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 1.2rem;
    margin-bottom: 3rem;
    position: relative;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.b-collection-carousel__tabs .active {
    background-color: rgb(96, 198, 85);
}

.b-collection-carousel__tab {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 2rem;
    white-space: nowrap;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.b-collection-carousel__products {
    display: none;
}

.b-collection-carousel__product-title {
    font-size: 1.2rem;
    line-height: 130%;
    letter-spacing: 2.4px;
    max-width: 32rem;
    margin-inline: auto;
}

.b-collection-carousel__product-price {
    color: red;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.4px;
    margin-top: 1rem;
    margin-bottom: auto;
}

