/*!**************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/dist/cjs.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/bundle-builder/bundle-builder.css ***!
  \**************************************************************************************************************************************************************************************************************************************/
.active > div {
    color:#35ff2e;
  }
.hero_image {
    max-width: 100%;
}
.hero_image img {
        max-width: 1140px;
        margin: 0 auto;
        display: block;
        -o-object-fit: contain;
           object-fit: contain;
        width:100%;
    }
.offer-intro-wrapper .bundle-wrapper__product:nth-child(1) {
    width:calc(31.33% - 10px);
}
@media only screen and (max-width: 768px) {
    .offer-intro-wrapper .bundle-wrapper__product:nth-child(1) {
        width:calc(50% - 10px);
    }
}
.offer-intro-wrapper .bundle-wrapper__product:nth-child(2) {
    width:calc(31.33% - 10px);
}
@media only screen and (max-width: 768px) {
    .offer-intro-wrapper .bundle-wrapper__product:nth-child(2) {
        width:calc(50% - 10px);
    }
}
.bundle-wrapper .product-template__wrapper--content__features--name {
        font-size: 14px;
        line-height: 1.2;
    }
@media only screen and (max-width: 768px) {
    .bundle-wrapper .product-template__wrapper--content__features--name {
        font-size: 13px;
        line-height: 1.2;
    }
}
.bundle-wrapper {
    max-width: 798px;
    margin: 0 auto;
    padding: 0px 20px;
    display:flex;
    gap:20px;
    justify-content: center;
    flex-wrap:wrap;
}
.bundle-wrapper__buttonAdd {
        max-width: 300px;
        margin: 20px auto 0;
}
.bundle-wrapper__product:nth-child(1) {
    width:calc(50% - 10px);
}
.bundle-wrapper__product:nth-child(2) {
    width:calc(50% - 10px);
}
.bundle-wrapper__product {
    width:calc(31.33% - 10px);
}
@media only screen and (max-width: 768px) {
    .bundle-wrapper__product {
        width:calc(50% - 10px);
    }
}
.bundle-wrapper__product {
    display: flex;
    flex-direction: column;
    border: 1.75px solid #5e5e5e;
    border-radius: 10px;
    padding: 10px;
}
.bundle-wrapper__product.selected {
    border: 1.75px solid #35ff2e;
}
.bundle-wrapper__product--image img {
                width:100%;
            }
.bundle-wrapper__product--title {
            font-family: 'Work Sans';
            font-weight: 600;
            color: #EDEDED;
            font-style: normal;
            line-height: 1.2;
            font-size: 16px;
            margin-bottom: 10px;
}
.bundle-wrapper__footer {
        display:flex;
        justify-content:space-between;
        flex-direction: column;
        gap:15px;
}
@media only screen and (max-width: 768px) {
    .bundle-wrapper__footer {
        flex-direction: column;
        gap:5px;
    }
}
.bundle-wrapper__footer input {
            background: transparent;
            box-shadow: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            text-transform: uppercase;
            color: #35ff2e;
            font-size: 16px;
            padding-left: 0;
            text-align: center;
            border-radius: 10px;
            font-family: 'Work Sans';
            color: #000000;
            font-style: normal;
            font-weight: 700;
            background-color: #35FF2E;
            border-width: 1px;
            border-color: #22FF05;
            width: 160px;
            max-width: 100%;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 24px;
            padding-left: 24px;
            width: auto;
}
@media only screen and (max-width: 768px) {
    .bundle-wrapper__footer input {
        text-align: center;
        font-size:12px;
        padding-left: 16px;
    }
}
@media only screen and (max-width: 768px) {
    .js-price {
        font-size: 16px;
    }
}
.js-info-bar, .info-bar {
    font-family: var(--font-heading-family);
    font-weight: 400;
    color: #60C655;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}
.js-progress-bar {
    max-width: 100%;
    max-width: 1100px;
    margin: 0px auto 20px;
    padding: 0 10px;
    height: 12px;
    border-radius: 3%;
    background-color: #60c655;
    display: block !important;
}
.progress {
    --progress: 0%;
    width: 400px;
    max-width: 90%;
    height: 30px;
    margin: 0 auto 20px;
    border: 1px solid #fff;
    padding: 7px 7px;
    box-shadow: 0 0 10px #aaa;
  }
.progress .bar {
    width: var(--progress);
    height: 100%;
    background: linear-gradient(90deg, #60c655 0%, #35ff2e 100%);
    background-repeat: repeat;
    box-shadow: 0 0 10px 0px #35ff2e;
    animation: 
      shine 2s ease-in;
    transition: width 1s ease-in;
    display: block;
  }
@property --progress {
    syntax: "<length>";
    initial-value: 0%;
    inherits: true;
  }
@keyframes shine {
    0% { background-position: 0 0; }
    100% { background-position: 0 50px; }
  }
@keyframes end {
    0%, 100% { box-shadow: 0 0 10px 0px #35ff2e; }
    50% { box-shadow: 0 0 15px 5px #35ff2e; }
  }
.variants-holder {
    overflow: hidden;
    height: 0
}
.variants-holder.open {
    height: auto;
    width: 100%;
    background-color: #131313;
    color: #efefef;
    border-radius: 10px;
    border: 0.75px solid #5e5e5e;
    padding: 8px 24px 8px 8px;
    margin: auto;
    margin-bottom: 10px;
    z-index: 9999;
    position: absolute;
}
.option-name {
    cursor: pointer;
    background-color: #131313;
    color: #efefef;
    border-radius: 10px;
    border: 0.75px solid #5e5e5e;
    padding: 8px 24px 8px 8px;
    margin: auto;
    margin-bottom: 10px;
}
.materials__single {
    position: relative;
}
.swatch-holder {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer
}
.swatch-holder:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.intro__title {
    text-align: center;
    margin: 0px 0 13px 0;
    font-family: 'Work Sans';
    color: #969696;
    font-style: normal;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 700;
    margin-top:30px;
}
.intro__subtitle {
    margin: 0px 0 13px 0;
    font-weight: 400;
    color: #60C655;
    font-style: normal;
    text-align: center;
    line-height: 1.2;
    font-size: 17px;
}
.product-popup__holder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #000000;
    gap:20px;
    flex-wrap:wrap;
    max-width: 798px;
    margin: 0 auto;
    padding: 0 20px;
}
.product-popup__holder .bundle-wrapper__product {
        width:calc(31.33% - 10px);
    }
@media only screen and (max-width: 768px) {
    .product-popup__holder .bundle-wrapper__product {
        width:calc(50% - 10px);
    }
}
.product-popup__holder .bundle-wrapper__product {
    display: flex;
    flex-direction: column;
    border: 1.75px solid #5e5e5e;
    border-radius: 10px;
    padding: 10px;
}
.product-popup__holder .bundle-wrapper__product.selected {
    border: 1.75px solid #35ff2e;
}
.product-popup__holder .bundle-wrapper__product--image img {
                width:100%;
            }
.product-popup__wrapper {
    overflow: scroll;
    z-index: 9999999999999999;
    top:0;
    position: fixed;
    width:100%;
    height: 100%;
    display: block;
    background-color: #000000;
    padding-bottom: 200px
}
.product-popup__wrapper.hidden {
    display: none;
}
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20px;
    cursor:pointer; 
}
.price {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .sticky-div.sticky .js-info-bar {
        font-size: 16px;
        margin-bottom: 0;
    }
}
.sticky-div.sticky {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    z-index: 99999;
}
@media only screen and (max-width: 768px) {
    .sticky-div.sticky {
        flex-direction: column;
        padding-bottom: 10px;
    }
}
.sticky-div.sticky .progress {
            margin: 0;
}
.product-template__wrapper--content__form--atc button {
    max-width: 300px;
    margin:0 auto;
}
@media only screen and (max-width: 768px) {
    .product-template__wrapper--content__form--atc button {
        max-width: 160px;
        margin:0 auto;
    }
}
@media only screen and (max-width: 768px) {
    .product-image__title {
        padding-left: 16px;
    }
}
.desktop {
    display: block;
}
@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
}
.mobile {
    display: none;
}
@media only screen and (max-width: 768px) {
    .mobile {
        display: block;
    }
}
.product-zig {
    display: none;
}
.product-addtocart {
    overflow: scroll;
    z-index: 9999999999999999999;
    top:0;
    position: fixed;
    width:100%;
    height: 100%;
    display: block;
    background-color: #000000;
    padding-bottom: 200px
}
.product-addtocart.hidden {
    display: none;
}
.product-addtocart .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
}
#battery {
    box-sizing: content-box;
    height: 7.8em;
    width: 17.5em;
    border: 0.6em solid #35ff2e;
    margin: auto;
    border-radius: 0.6em;
    position: relative;
    display: grid;
    place-items: center;
  }
#battery:before {
    position: absolute;
    content: "";
    height: 5em;
    width: 1.1em;
    background-color: #35ff2e;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -1.6em;
    border-radius: 0 0.3em 0.3em 0;
  }
#charge {
    position: absolute;
    height: 6.5em;
    width: 16.25em;
    background-color: #35ff2e;
    top: 0.6em;
    left: 0.6em;
    display:block;
  }
#charge-level {
    position: absolute;
    font-size: 2em;
    font-weight: 500;
  }
#charging-time {
    text-align: center;
    font-size: 1.7em;
    margin-top: 1.4em;
  }
.active {
    animation: charge-animation 3s infinite linear;
  }
@keyframes charge-animation {
0% {
    width: 0;
}
100% {
    width: 16.25em;
}
}
.product-popup__animation {
    overflow: scroll;
    z-index: 9999999999999999;
    top:0;
    position: fixed;
    width:100%;
    height: 100%;
    display: block;
    background-color: #000000;
    padding-bottom: 200px
}
.product-popup__animation.hidden {
    display: none;
}
.product-popup__animation .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
.product-popup__animation h1 {
        font-family: var(--font-heading-family);
        font-weight: 400;
        color: white;
        font-style: normal;
        font-size: 19px;
        text-align: center;
        margin: 20px 0;
}
.product-popup__animation .ring {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
}
.product-popup__animation .ring::before {
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        animation: ring 2s linear infinite;
}
@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 0px 5px 5px #35ff2e;
    }
    25%{
        transform: rotate(90deg);
        box-shadow: 0px 5px 5px #60c655;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 0px 5px 5px #60c655;
    }
    75% {
        transform: rotate(270deg);
        box-shadow: 0px 5px 5px #60c655;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0px 5px 5px #35ff2e;
    }
}
