/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/dist/cjs.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/product-template/product-template.css ***!
  \******************************************************************************************************************************************************************************************************************************************/
.product-template label {
        cursor: pointer;
        width: 195px;
        height: 65px;
        background: #1b1b1b;;
        display: block;
        border-radius: 30px;
        position: relative;
        margin:20px auto 0px;
        /* @media only screen and (max-width: 768px) {
            width: 100px;
            height: 35px;
        } */
    }
    .product-template .label-holder {
        margin-bottom: -50px;
    }
    @media only screen and (max-width: 768px) {
        .product-template .label-holder {
                margin-bottom: -35px;
        }
}
    .product-template .label-holder {
        display: flex;
        align-items: center;
        justify-content: center;
}
    .product-template .label-holder__image {
            max-width: 45px;
            margin-bottom: 22px;
}
    .product-template .label-holder__image:first-child {
        margin-right: 16px;
}
    .product-template .label-holder__image:last-child {
        margin-left: 10px;
}
    .product-template .label-holder__image .speed-pd {
                display: block;
                width: auto;
                max-width: 50px;
                height: 100%;
                margin-left: 30px;
                margin-top: 28px;
}
    .product-template .label-holder__image .speed-pd.hidden {
        display:none;
}
    .product-template .label-holder__image .speed-usb {
                display: block;
                width: auto;
                max-width: 50px;
                height: 100%;
                margin-left: 30px;
                margin-top: 28px;
}
    .product-template .label-holder__image .speed-usb.hidden {
        display:none;
}
    .product-template .label-holder__speed {
            text-align:center;
            font-weight: bold;
            font-style: italic;
            opacity: .5;
}
    .product-template .label-holder__title {
            color:white;
            font-size:15px;
            font-weight:bold;
            font-style:italic;
            z-index: 9999;
            display: block;
            position: relative;
            text-align: center;
}
    .product-template label:after {
        content: 'USB-A';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 95px;
        height: 55px;
        background: #60c655;
        border-radius: 25px;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        color:black;
        font-weight:bold;
}
    .product-template input:checked + label {
        background: #1b1b1b;
}
    .product-template input:checked + label:after {
        content: 'PD';
}
    .product-template input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
}
    .product-template label:active:after {
        width: 130px;
}
    .product-template__wrapper {
        gap:40px;
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper {
                gap:10px;
        }
}
    .product-template__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
}
    .product-template__wrapper--content__add {
                width:100%;
                color:white;
                font-size:17px;
            }
    .product-template__wrapper--content__add--colored {
                    position: relative;
                    background-color: #141414;
                    border-radius: 10px;
                    padding: 10px 20px 5px;
                    box-shadow: 1px 2px 8px #35ff2ec2;
                    margin-top: 25px
                }
    .product-template__wrapper--content__add--colored.pd {
        margin-top: -10px;
        z-index: 99999;
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__add--colored {
                padding: 10px 20px 5px;
        }
}
    .product-template__wrapper--content__add a {
                    text-decoration: underline;
                    color:white;
}
    .product-template__wrapper--content__add--title {
                    padding-left: 60px;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: center;
}
    .product-template__wrapper--content__add--title .money {
                        color: #60c655cc;
                    }
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__add--title {
                padding-left: 50px;
                font-size:12px;
                text-align:center;
        }
}
    .product-template__wrapper--content__add--title:before {
        position: absolute;
        top: 50%;
        left: 20px;
        width: 37px;
        height: 37px;
        transform: translateY(-50%);
        content: "";
        border: 2px solid #35ff2e;
}
    .product-template__wrapper--content__add--title:after {
        display: none;
        position: absolute;
        top: 42%;
        left: 22px;
        width: 37px;
        height: 46px;
        transform: translateY(-50%);
        content: "";
        z-index: 2;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2731%27 height=%2723%27 fill=%27none%27%3E%3Cpath d=%27M2 10.667L11.22 20 29 2%27 stroke=%27%2360C655%27 stroke-width=%273%27/%3E%3C/svg%3E") no-repeat 1.61290323% 23px;
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__add--title:after {
                top: 37%;
        }
}
    .product-template__wrapper--content__add--image {
                    max-width: 18%;
                    margin-right: 5px;
}
    .product-template__wrapper--content__add--image img {
                        box-shadow: 1px 3px 7px 0px #35ff2e;
                        border-radius:5px;
                    }
    .product-template__wrapper--content__selection {
                margin-bottom: 10px;
                font-size:18px;
}
    .product-template__wrapper--content__selection--wrapper {
                    margin: 10px 0 20px;
                }
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__selection--wrapper {
                margin: 10px 0 20px;
        }
}
    .product-template__wrapper--content__selection--wrapper.small-top {
        margin-top:10px;
}
    .product-template__wrapper--content__selection--wrapper {
        position: relative;
}
    .product-template__wrapper--content__selection--wrapper__save {
                        pointer-events: none;
                        position: absolute;
                        top: -25px;
                        border-radius: 5px;
                        padding: 0 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #141414;
                        color: white;
                        font-size: 14px;
                        line-height: 1.57;
                        letter-spacing: 0.05em;
                        width: -moz-max-content;
                        width: max-content;
                        border: 1px solid rgba(96, 198, 85, .8);
                        display:flex;
                        flex-direction: column;
                        vertical-align: middle;
                        height: 50px;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 17px;
                        min-height: 45px;
                        line-height: 1;
}
    .product-template__wrapper--content__selection--wrapper__save .free-cable {
                            color:#35FF2E;
                        }
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__selection--wrapper__save {
                font-size: 13px;
                min-height: 36px;
                line-height: 1;
        }
}
    .product-template__wrapper--content__selection--wrapper__single {
                        cursor: pointer;
                        flex: 0 0 33.333%;
                        flex-direction: column;
                        color:white;
                        font-weight: bold;
                        font-size: 24px;
                        max-width: 33.33%;
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__selection--wrapper__single {
                flex: 0 0 32%;
                flex-direction: column;
        }
}
    .product-template__wrapper--content__selection--wrapper__single {
        min-height: 5rem;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        grid-gap: 3px;
        gap: 3px;
        padding: 5px 5px;
        font-size: 16px;
        line-height: 1.57;
        letter-spacing: 0.05em;
        cursor: pointer;
        justify-content:center;
        /* For Safari 3.0 to 6.0 */
        transition: all 1s;
        /* For modern browsers */
        border-left: 2px solid rgba(96, 198, 85, .8);
        border-top: 2px solid rgba(96, 198, 85, .8);
        border-bottom: 2px solid rgba(96, 198, 85, .8);
        border-right: none;
        margin-bottom:0;
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__selection--wrapper__single {
                border-radius:10px;
                border-right: 2px solid rgba(96, 198, 85, .8);
                margin-bottom:00px;
                font-size: 16px;
        }
}
    .product-template__wrapper--content__selection--wrapper__single:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
}
    .product-template__wrapper--content__selection--wrapper__single:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 2px solid rgba(96, 198, 85, .8);
}
    .product-template__wrapper--content__selection--wrapper__single:hover {
        background-color: rgba(96, 198, 85, .8);
        /* For Safari 3.0 to 6.0 */
        transition: all 1s;
}
    /* For modern browsers */
    .product-template__wrapper--content__selection--wrapper__single:hover .decoy-title {
                                color:black;
}
    .product-template__wrapper--content__selection--wrapper__single:hover .decoy-content__price {
                                color:white;
}
    .product-template__wrapper--content__selection--wrapper__single.active {
        background-color: rgba(96, 198, 85, .8);
        color:black;
}
    .product-template__wrapper--content__selection--wrapper__single.active .decoy-title {
                                color:black;
}
    .product-template__wrapper--content__selection--wrapper__single.active .decoy-content__price {
                                color:white;
}
    .product-template__wrapper--content__selection--wrapper__single img {
                            width:100%;
                            margin:0 auto;
                            display: block;
}
    .product-template__wrapper--content__selection--wrapper__single svg {
                            max-width:30px;
                            margin-right: 5px;
}
    .product-template__wrapper--content__selection--wrapper__single svg path {
                                fill:white;
                            }
    .product-template__wrapper--content__selection--wrapper__singleLength {
                        width: 30%;
                        border: 2px solid rgba(96, 198, 85, .5);
                        text-align: center;
                        cursor: pointer; /* For Safari 3.0 to 6.0 */
                        transition: all 1s; /* For modern browsers */
}
    .product-template__wrapper--content__selection--wrapper__singleLength:hover {
        border: 2px solid rgba(96, 198, 85, 1);
        /* For Safari 3.0 to 6.0 */
        transition: all 1s;
        /* For modern browsers */
}
    .product-template__wrapper--content__selection--wrapper__singleLength.active {
        border: 2px solid rgba(96, 198, 85, 1);
}
    .product-template__wrapper--content__offer {
                color:white;
                opacity: 1;
                font-size:18px;
}
    .product-template__wrapper--content__offerDiscount {
                font-weight: 800;
                color: #60C655;
                line-height: 1.2;
                font-size: 24px;
}
    .product-template__wrapper--content__review {
                cursor:pointer;
                line-height: 1.6;
                font-size: 20px;
}
    .product-template__wrapper--content__review--mark {
                    font-weight: 600;
                    font-size: 28px;
                }
    .product-template__wrapper--content__review--number {
                    font-size: 18px;
                }
    .product-template__wrapper--content__title {
                margin: 8px 0 20px;
                animation: light 3s linear;
                letter-spacing: 0.06rem;
}
    .product-template__wrapper--content__imageSelection {
                margin: 20px 0 30px;
}
    .product-template__wrapper--content__features {
                font-size: 21px;
                line-height: 25px;
                color:#efefef;
                font-weight: 200;
                margin-bottom:40px;
}
    @media only screen and (max-width: 991px) {
        .product-template__wrapper--content__features {
                font-size:19x;
        }
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__features {
                font-size:18x;
                margin-bottom:20px;
        }
}
    .product-template__wrapper--content__features--name {
                    margin: 8px 0;
                    position: relative;
                    padding-left: 30px;
                    font-size:18px;
}
    .product-template__wrapper--content__features--name:before {
        content: "L";
        position: absolute;
        top: -2px;
        left: 0.3rem;
        font-weight: 600;
        transform: scale(-1, 1) rotate(-45deg);
        color: #60C655;
}
    .product-template__wrapper--content__form--qty {
                    max-width: 150px;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    margin-bottom:8px;
                }
    .product-template__wrapper--content__form--qty__custom {
                        width: 25%;
                        display: flex;
                        align-items: center;
                        vertical-align: middle;
                        justify-content: center;
                        font-size: 30px;
                        background-color: #131313;
                        cursor: pointer
                    }
    .product-template__wrapper--content__form--qty__custom.js-minus {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
}
    .product-template__wrapper--content__form--qty__custom.js-plus {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
}
    .product-template__wrapper--content__form--qty__number {
                        border:none !important;
                        margin: 0 !important;
                        text-align: center;
                        font-size: 20px;
                    }
    .product-template__wrapper--content__form--atc {
                    margin: 10px 0 15px;
                }
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__form--atc {
                margin: 15px 0 15px;
        }
}
    .product-template__wrapper--content__form--atc button {
                        flex-direction: column;
                        width:100%;
                        letter-spacing: 0.1em;
                        border:none;
                        font-weight:700;
                        line-height:1.1;
                        text-transform:uppercase;
                        border-radius: 10px;
                        border:2px solid #60c655; /* For Safari 3.0 to 6.0 */
                        transition: all 1s; /* For modern browsers */
}
    .product-template__wrapper--content__form--atc button:hover {
        background-color: #131313;
        color:#60c655;
        /* For Safari 3.0 to 6.0 */
        transition: all 1s;
}
    /* For modern browsers */
    .product-template__wrapper--content__form--atc button:hover .js-price {
                                color:white;
}
    @media only screen and (max-width: 991px) {
        .product-template__wrapper--content__form--atc button {
                font-size:18px;
        }
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__form--atc button {
                font-size:16px;
        }
}
    .product-template__wrapper--content__form--note {
                    text-align: center;
                    line-height: 1;
                    font-size: 16px;
}
    .product-template__wrapper--content__form--buynow {
                    border:2px solid #60c655;
                    border-radius: 10px;
                    font-weight:700;
                    font-size:24px;
                    line-height:29px;
                    padding: 20px 20px;
                    text-transform:uppercase;
                    margin-top:16px;
                    background-color: #131313; /* For Safari 3.0 to 6.0 */
                    transition: all 1s; /* For modern browsers */
}
    .product-template__wrapper--content__form--buynow:hover {
        color:#60c655;
        /* For Safari 3.0 to 6.0 */
        transition: all 1s;
        /* For modern browsers */
}
    .product-template__wrapper--content__form--customSelect {
                    background-color: #131313;
                    width: 100%;
                    color: #efefef;
                    border-radius: 10px;
                    border: 0.75px solid #fff;
                    padding: 8px 24px 8px 8px;
                    max-width: 300px;
}
    .product-template__icons {
        list-style: none;
        display:flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 15px;
        grid-gap: 25px;
        gap: 25px;
}
    .product-template__icons--item {
            max-width: 100%;
            flex-direction: row;
            grid-gap: 5px;
            gap: 5px;
            align-items: center;
            display:flex;
            font-weight:400;
        }
    .product-template__icons--item__icon {
                width:30px;
                height:30px;
                -o-object-fit: contain;
                   object-fit: contain;
                margin-top: -10px;
                margin-right: 10px;
            }
    .product-template__info {
        background-color: #141414;
        border-radius: 10px;
        display: flex;
        padding: 15px 7px;
        grid-gap: 10px;
        gap: 10px;
        font-size: 18px;
}
    .product-template__info p {
            margin-top: 0;
            margin-bottom:0;
        }
    .product-template__info--svg {
            width: 50px;
            height: 50px;
            -o-object-fit: contain;
        }
    .js-crossed-price {
    text-decoration: line-through;
}
    .added .product-template__wrapper--content__add--title:after {
        display:block;
    }
    .phone-icon {
    max-width: 35px;
}
    .decoy-image {
    margin-top:20px;
    width:100%;
}
    @media only screen and (max-width: 768px) {
        .decoy-image {
                margin-top:10px;
                width:40%;
        }
}
    .decoy-content {
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction:column;
    gap: 0px;
}
    @media only screen and (max-width: 768px) {
        .decoy-content {
                font-size:12px;
                flex-direction:column;
                gap:0;
        }
}
    .decoy-content__price {
        color:#35ff2e;
}
    /* QTY */
    .js-qty-selector {
    display:flex;
}
    .js-qty-selector-plus {
    font-size: 14px;
    color:#60C655;
}
    .js-qty-selector-minus {
    font-size: 14px;
    color:#60C655;
}
    .homeProduct__inner--content__quantity--wrapper__minus {
    width: 4.6rem;
    height: 5rem;
    border: 1px solid #60C655;
    border-right: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    cursor: pointer;
    color: #60C655;
    font-size: 30px;
}
    .homeProduct__inner--content__quantity--wrapper__plus {
    width: 4.6rem;
    height: 5rem;
    border: 1px solid #60C655;;
    border-left: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    cursor: pointer;
    color: #60C655;
    font-size: 30px;
}
    .homeProduct__inner--content__quantity--wrapper__number {
    width: 4.6rem;
    height: 5rem;
    border: 1px solid #60C655;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #131313;
}
    .qty-atc {
    gap:40px;
    align-items: center;
    margin-top:20px;
}
    .js-add-more-message {
    font-weight: 800;
    color: #60c655;
    line-height: 1.2;
    font-size: 24px;
    margin-top:20px;
    margin-bottom:40px;
}
    .qty-price {
    gap:20px;
    color: #60c655;
    line-height: 1.2;
    font-size: 24px;
}
    .qty-price--crossed {
        color: #c14444;
        text-decoration:line-through;
    }
    .qty-price .price {
        color:white;
    }
    .decoy-title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    margin-top: 2rem;
}
    @media only screen and (max-width: 768px) {
        .decoy-title {
                font-size: 18px;
        }
}
    .value-slider {
    animation: fade-in-up 1s backwards;
    margin-top:-10px;
}
    .value-slider .slider {
        position: relative;
        width: 200px;
        height: 105px;
    }
    @media only screen and (max-width: 768px) {
        .value-slider .slider {
                width: 125px;
                height: 75px;
        }
}
    .value-slider .slider {
        margin: auto;
}
    .value-slider .slider div {
            position: absolute;
            display: inline-block;
            width: 200px;
}
    @media only screen and (max-width: 768px) {
        .value-slider .slider div {
                width: 150px;
        }
}
    .value-slider .slider div {
        height: auto;
        line-height: 42px;
        text-align: center;
        margin: auto;
        left: 0;
        top: 0;
        transition: .3s;
        transform: scale(0);
        color: #fff;
        opacity: 0.5;
}
    .value-slider .slider .active {
            z-index: 10;
            transform: scale(1);
            box-shadow: 0px 0px 7px #000000;
            opacity: 1;
            margin-left: 0px;
            animation: none;
}
    .value-slider .slider .one-behind {
            transform: scale(0.7);
            z-index: 9;
}
    .value-slider .slider .one-behind.left {
        left: -100%;
}
    .value-slider .slider .one-behind.right {
        left: 90%;
}
    .value-slider .slider .two-behind {
            transform: scale(0.6);
            z-index: 8;
}
    .value-slider .slider .two-behind.left {
        left: -60%;
}
    .value-slider .slider .two-behind.right {
        left: 60%;
}
    .value-slider .slider-arrows {
        display: flex;
        justify-content: center;
        margin-top: 8px;
}
    .value-slider .slider-arrows .prev, .value-slider .slider-arrows .next {
            cursor: pointer;
            width: 25px;
            height: 25px;
            background-color: #fff;
            border-radius: 50%;
            position: relative;
            border: none
        }
    .value-slider .slider-arrows .prev::before, .value-slider .slider-arrows .prev::after, .value-slider .slider-arrows .next::before, .value-slider .slider-arrows .next::after {
        content: '';
        display: block;
        position: absolute;
        width: 35%;
        height: 2px;
        background-color: $ingredients;
}
    .value-slider .slider-arrows .prev:disabled, .value-slider .slider-arrows .next:disabled {
        background-color: #b8b8b8;
}
    .value-slider .slider-arrows .prev {
            margin-right: 5px
        }
    .value-slider .slider-arrows .prev:before {
        transform: rotate(-45deg);
        top: 37%;
        left: 28%;
}
    .value-slider .slider-arrows .prev:after {
        transform: rotate(45deg);
        top: 60%;
        left: 28%;
}
    .value-slider .slider-arrows .next:before {
        transform: rotate(45deg);
        top: 37%;
        left: 33%;
}
    .value-slider .slider-arrows .next:after {
        transform: rotate(-45deg);
        top: 60%;
        left: 33%;
}
    @keyframes fade-in-up {
    0% {
      display: none;
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
  }
    .master-product {
    border:2px solid #35FF2E;
}
    .master-product .decoy-content__price {
        color:#35FF2E;
    }
    .master-product .product-template__wrapper--content__selection--wrapper__save {
        box-shadow: #35FF2E 1px 0px 9px 5px;
    }
    .js-price {
    color: #35ff2e;
}
    .price-div {
    margin-top:10px;
    font-weight: bold;
    font-size:20px;
}
    @media only screen and (max-width: 768px) {
        .price-div {
                font-size:14px;
        }
}
    .amazon-notice {
    color: #60c655;
    text-align: center;
    margin: 5px 0;
}
    .amazon-notice span {
        color:white;
    }
    @media only screen and (max-width: 768px) {
        .amazon-notice {
                font-size: 12px;
        }
}
    .product-template__wrapper--content__form--atc button {
    border-radius: 25px;
    padding: 20px 20px; 
    font-size:22px;
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__form--atc button {
                padding: 10px 20px;
                font-size:18px;
        }
}
    .product-template__wrapper--content__add.pd-add {
    margin-top: 60px;
}
    @media only screen and (max-width: 768px) {
        .product-template__wrapper--content__add.pd-add {
                margin-top: 60px;
        }
}
    .switch {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    color:#60c655;
    font-weight: bold;
    font-style: italic;
}
    .switch .usba {
        margin-left:15px;
    }
    .switch .pd {
        margin-right:37px;
    }
    .pd-disable.disabled {
        opacity: .3;
        cursor:not-allowed;
        pointer-events:none;
        border-left: 1px solid #515151;
        border-top: 1px solid #515151;
        border-bottom: 1px solid #515151;
        border-right: 1px solid #515151;
        border-color: #515151 !important;
        color:white !important;
}
    .pd-disable.disabled:hover {
        background: transparent;
}
    .pd-disable.disabled.active {
        border-color: #515151 !important;
        color:white !important;
        background-color: black !important;
}
    .plug-ports {
    color:white;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    justify-content: center;
}
    .plug-ports span {
        color: #60c655cc;
        font-style:italic;
        margin-left:5px;
    }
    .plug-ports img {
        max-width: 30px;
        margin-left: 5px;
    }
    .arrow-right {
    transform: rotate(270deg);
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    margin-left:-10px;
    color: #35ff2e;
}
    .arrow-left {
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-right: 8px;
    animation-name: pulse90;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    margin-left:-10px;
    color: #35ff2e;
}
    @keyframes pulse {
    0% {
      transform: rotate(270deg) scale(1);
    }
  
    50% {
      transform: rotate(270deg) scale(1.2);
    }
  
    100% {
      transform: rotate(270deg) scale(1);
    }
}
    @keyframes pulse90 {
    0% {
      transform: rotate(90deg) scale(1);
    }
  
    50% {
      transform: rotate(90deg) scale(1.2);
    }
  
    100% {
      transform: rotate(90deg) scale(1);
    }
}
    .product-template__wrapper--content__add--title-pd {
    width:100%;
}
    .label-holder.reverse-holder .switch .pd {
        margin-right: 15px;
    }
    .label-holder.reverse-holder .arrow-right {
        margin-left:10px;
    }
    .label-holder.reverse-holder .arrow-left {
        margin-left: 15px;
    }
    .label-holder.reverse-holder label:after {
        content: 'PD';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 95px;
        height: 55px;
        background: #60c655;
        border-radius: 25px;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        color:black;
        font-weight:bold;
    }
    .label-holder.reverse-holder input:checked + label {
        background: #1b1b1b;;
    }
    .label-holder.reverse-holder input:checked + label:after {
        content: 'USB-A';
    }
