/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/lib/index.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/product-image/product-image.css ***!
  \*************************************************************************************************************************************************************************************************************************************/
.product-image {
    padding-top: 50px;
}
    .product-image__button {
        max-width: 400px;
        margin:30px auto;
    }
    .product-image__title {
        font-size:32px;
        line-height:40px;
        text-align: center;
        color:white;
        max-width: 600px;
        margin:0 auto
    }
    .product-image__title:before {
    content: '';
    display: block;
    width: 32px;
    height: 1.5px;
    background-color: #60c655;
    border-radius:10px;
    margin: 0 auto 20px;
}
    .product-image__text {
        max-width: 800px;
        text-align: center;
        margin: 14px auto 0;
        margin-bottom: 50px;
    }
    .product-image__image img {
            display: block;
            margin: 0 auto;
        }
