/*!********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/dist/cjs.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/explore/section-explore.css ***!
  \********************************************************************************************************************************************************************************************************************************/
.section-explore .discount-label {
        -webkit-clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
    }
    .section-explore .price-wrapper {
        text-align: center;
    }
    @media(min-width: 1024px) {
        .section-explore__wrapper {
            max-width: 1328px;
            margin-inline: auto;
        }

        .section-explore__collection-label {
            margin-bottom: 12px;
            padding-bottom: 12px;
            font-size: 21px;
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            border-bottom: 1px solid #464646
        }

        .section-explore__collection-label.active {
                border-color: #60C655;
        }

        .section-explore__collection-label.active {
            color: #60C655;
            border-color: #60C655;
        }

        .section-explore__collections {
            flex-direction: row;
            gap: 14px;
        }

        .section-explore__products {
            gap: 14px;
            justify-content: flex-start;
        }

        .section-explore__product {
            background-color: transparent;
            padding-inline: 0;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            flex: 1;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1)
        }

        .section-explore__product.active {
                background: linear-gradient(0deg, rgba(132, 160, 255, 0.1) 0%, rgba(132, 160, 255, 0.07) 20.08%, rgba(132, 160, 255, 0.1) 47.85%, rgba(132, 160, 255, 0.12) 83.03%, rgba(132, 160, 255, 0.3) 100%);
        }

        .section-explore__product.active img {
                    transform: scale(1.1);
        }

        .section-explore__product figure {
                aspect-ratio: 1.47;
                width: 100%;
        }

        .section-explore__product img {
                width: 100px;
                height: 100px;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                margin-inline: auto;
        }

        .section-explore__product h4 {
                color: #fff;
                font-size: 14px;
        }

        .section-explore__product .price-wrapper {
                min-height: 36px;
        }

        .section-explore__product .product-price {
                color: #fff;
                font-size: 21px;
                margin-bottom: 3px;
        }

                .section-explore__product .product-price--compared {
                    display: block;
                }

        .section-explore__buy-now {
            height: 38px;
            margin-top: auto;
        }
            .section-explore__product-info h3 {
                font-size: 26px;
                font-weight: 600;
                color: #fff;
            }

            .section-explore__product-info p {
                font-size: 16px;
                font-weight: 500;
                color: #B0B0B0;
            }

        .section-explore .animate-line {
            width: 0;
            transition: width 0.5s ease 0.3s;
            background-color: #B0B0B0;
        }

        .section-explore .active-line {
            width: 340px;
        }

        .section-explore .animated-border {
            background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
        }
}
    @media(min-width: 1024px) and (max-width: 1200px) {
        .section-explore__product-content {
            width: 980px;
        }

        .section-explore__buy-now {
            padding-inline: 10px;
        }

        .section-explore .active-line {
            width: 240px;
        }

        .section-explore .discount-label {
            font-size: 9px;
        }
}
