/*!************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/dist/cjs.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/product-image/product-image.css ***!
  \************************************************************************************************************************************************************************************************************************************/
.product-image {
    padding-top: 50px;
    padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
    .product-image {
        padding: 50px 20px;
    }
}
.product-image__button {
        max-width: 400px;
        margin:30px auto;
}
.product-image__title {
        font-size:30px;
        line-height:40px;
        text-align: center;
        color:white;
        max-width: 600px;
        margin:0 auto;
}
.product-image__title:before {
    content: '';
    display: block;
    width: 32px;
    height: 1.5px;
    background-color: #60c655;
    border-radius:10px;
    margin: 0 auto 20px;
}
.product-image__title--sub {
            font-weight: 400;
            color: #626262;
            font-size: 19px;
            font-family: "Work Sans", sans-serif;
}
.product-image__title--stars {
            font-size: 20px;
}
.product-image__title--teststars {
            font-size: 14px;
            margin-top:10px;
}
.product-image__title--zig:before {
    display:none;
}
.product-image__text {
        max-width: 800px;
        text-align: center;
        margin: 14px auto 0;
        margin-bottom: 50px;
}
.product-image__image {
        max-width: 500px;
        margin:0 auto;
}
.product-image__image img {
            display: block;
            margin: 0 auto;
        }
.big-image {
    max-width: 1140px;
    margin: 0 auto;
    display: block;
}
