.sl-brandstyle-cb1ef2e3-2353-4773-bb42-f81e9943bba8 .sl-font-style--title {
font-family: Raleway;
font-weight: 900;
font-style: normal;
}
.sl-brandstyle-cb1ef2e3-2353-4773-bb42-f81e9943bba8 .sl-font-style--body {
font-family: "Work Sans";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-cb1ef2e3-2353-4773-bb42-f81e9943bba8 .sl-font-style--button {
font-family: "Work Sans";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-cb1ef2e3-2353-4773-bb42-f81e9943bba8 .sl-font-style--label {
font-family: "Work Sans";
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-41dadc92-e58d-4f3c-9a2b-ab80d892966b {
background-color: #e3eaea;
border-style: none;
--sl-gv-bg-color: #e3eaea;
--sl-gv-btn-txt-color: #60c655;
--sl-gv-btn-bg-color: #e3eaea;
}
.sl-pattern-41dadc92-e58d-4f3c-9a2b-ab80d892966b .sl-font-style--title { color: #4a4a4a; }
.sl-pattern-41dadc92-e58d-4f3c-9a2b-ab80d892966b .sl-font-style--body { color: #60c655; }
.sl-pattern-41dadc92-e58d-4f3c-9a2b-ab80d892966b .sl-font-style--button { color: #60c655; }
.sl-pattern-41dadc92-e58d-4f3c-9a2b-ab80d892966b .sl-font-style--label { color: #60c655; }
.sl-pattern-41dadc92-e58d-4f3c-9a2b-ab80d892966b .sl-button--brand-style {
color: #60c655;
background-color: #e3eaea;
}
.sl-pattern-d2c8bde0-3d6b-45cf-8bff-aa264226a62e {
background-color: #141414;
border-style: none;
--sl-gv-bg-color: #141414;
--sl-gv-btn-txt-color: #0000ee;
--sl-gv-btn-bg-color: #141414;
}
.sl-pattern-d2c8bde0-3d6b-45cf-8bff-aa264226a62e .sl-font-style--title { color: #ff0000; }
.sl-pattern-d2c8bde0-3d6b-45cf-8bff-aa264226a62e .sl-font-style--body { color: #0000ee; }
.sl-pattern-d2c8bde0-3d6b-45cf-8bff-aa264226a62e .sl-font-style--button { color: #0000ee; }
.sl-pattern-d2c8bde0-3d6b-45cf-8bff-aa264226a62e .sl-font-style--label { color: #0000ee; }
.sl-pattern-d2c8bde0-3d6b-45cf-8bff-aa264226a62e .sl-button--brand-style {
color: #0000ee;
background-color: #141414;
}
.sl-pattern-fb1c5c89-7dfa-4ebb-b5aa-562b1dba93c7 {
background-color: #fafafa;
border-style: none;
--sl-gv-bg-color: #fafafa;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #60c655;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-fb1c5c89-7dfa-4ebb-b5aa-562b1dba93c7 .sl-font-style--title { color: #141414; }
.sl-pattern-fb1c5c89-7dfa-4ebb-b5aa-562b1dba93c7 .sl-font-style--body { color: #2e2a39; }
.sl-pattern-fb1c5c89-7dfa-4ebb-b5aa-562b1dba93c7 .sl-font-style--button { color: #ffffff; }
.sl-pattern-fb1c5c89-7dfa-4ebb-b5aa-562b1dba93c7 .sl-font-style--label { color: #2e2a39; }
.sl-pattern-fb1c5c89-7dfa-4ebb-b5aa-562b1dba93c7 .sl-button--brand-style {
color: #ffffff;
background-color: #60c655;
}
.sl-pattern-fb1c5c89-7dfa-4ebb-b5aa-562b1dba93c7 .sl-button--button-style { border: 2px solid; }
.sl-pattern-fb1c5c89-7dfa-4ebb-b5aa-562b1dba93c7 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-a31e1d10-481c-4a6d-8ab6-ed0c6f30fd49 {
background-color: #e4eaea;
border-style: none;
--sl-gv-bg-color: #e4eaea;
--sl-gv-btn-txt-color: #2e2a39;
--sl-gv-btn-bg-color: #e4eaea;
}
.sl-pattern-a31e1d10-481c-4a6d-8ab6-ed0c6f30fd49 .sl-font-style--title { color: #2e2a39; }
.sl-pattern-a31e1d10-481c-4a6d-8ab6-ed0c6f30fd49 .sl-font-style--body { color: #2e2a39; }
.sl-pattern-a31e1d10-481c-4a6d-8ab6-ed0c6f30fd49 .sl-font-style--button { color: #2e2a39; }
.sl-pattern-a31e1d10-481c-4a6d-8ab6-ed0c6f30fd49 .sl-font-style--label { color: #2e2a39; }
.sl-pattern-a31e1d10-481c-4a6d-8ab6-ed0c6f30fd49 .sl-button--brand-style {
color: #2e2a39;
background-color: #e4eaea;
}
.sl-pattern-0081e08d-9bbc-402f-9e88-9493bedfc495 {
background-color: #e4eaea;
border-style: none;
--sl-gv-bg-color: #e4eaea;
--sl-gv-btn-txt-color: #2e2a39;
--sl-gv-btn-bg-color: #60c655;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-0081e08d-9bbc-402f-9e88-9493bedfc495 .sl-font-style--title { color: #000000; }
.sl-pattern-0081e08d-9bbc-402f-9e88-9493bedfc495 .sl-font-style--body { color: #2e2a39; }
.sl-pattern-0081e08d-9bbc-402f-9e88-9493bedfc495 .sl-font-style--button { color: #2e2a39; }
.sl-pattern-0081e08d-9bbc-402f-9e88-9493bedfc495 .sl-font-style--label { color: #2e2a39; }
.sl-pattern-0081e08d-9bbc-402f-9e88-9493bedfc495 .sl-button--brand-style {
color: #2e2a39;
background-color: #60c655;
}
.sl-pattern-0081e08d-9bbc-402f-9e88-9493bedfc495 .sl-button--button-style { border: 2px solid; }
.sl-pattern-0081e08d-9bbc-402f-9e88-9493bedfc495 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-19840387-8a2d-46bf-81ed-0df1ca373ab0 {
background-color: #e4eaea;
border-style: none;
--sl-gv-bg-color: #e4eaea;
--sl-gv-btn-txt-color: #2e2a39;
--sl-gv-btn-bg-color: #58cc4b;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-19840387-8a2d-46bf-81ed-0df1ca373ab0 .sl-font-style--title { color: #ffffff; }
.sl-pattern-19840387-8a2d-46bf-81ed-0df1ca373ab0 .sl-font-style--body { color: #2e2a39; }
.sl-pattern-19840387-8a2d-46bf-81ed-0df1ca373ab0 .sl-font-style--button { color: #2e2a39; }
.sl-pattern-19840387-8a2d-46bf-81ed-0df1ca373ab0 .sl-font-style--label { color: #2e2a39; }
.sl-pattern-19840387-8a2d-46bf-81ed-0df1ca373ab0 .sl-button--brand-style {
color: #2e2a39;
background-color: #58cc4b;
}
.sl-pattern-19840387-8a2d-46bf-81ed-0df1ca373ab0 .sl-button--button-style { border: 2px solid; }
.sl-pattern-19840387-8a2d-46bf-81ed-0df1ca373ab0 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-be1eec46-5fdf-4c46-ba02-1e76549cb040 {
background-color: #e4eaea;
border-style: none;
--sl-gv-bg-color: #e4eaea;
--sl-gv-btn-txt-color: #212121;
--sl-gv-btn-bg-color: #e4eaea;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-be1eec46-5fdf-4c46-ba02-1e76549cb040 .sl-font-style--title { color: #212121; }
.sl-pattern-be1eec46-5fdf-4c46-ba02-1e76549cb040 .sl-font-style--body { color: #212121; }
.sl-pattern-be1eec46-5fdf-4c46-ba02-1e76549cb040 .sl-font-style--button { color: #212121; }
.sl-pattern-be1eec46-5fdf-4c46-ba02-1e76549cb040 .sl-font-style--label { color: #212121; }
.sl-pattern-be1eec46-5fdf-4c46-ba02-1e76549cb040 .sl-button--brand-style {
color: #212121;
background-color: #e4eaea;
}
.sl-pattern-be1eec46-5fdf-4c46-ba02-1e76549cb040 .sl-button--button-style { border: 2px solid; }
.sl-pattern-be1eec46-5fdf-4c46-ba02-1e76549cb040 .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-7d67f26e-791e-46ef-aa77-20a9b7f566c9 {
background-color: #e4eaea;
border-style: none;
--sl-gv-bg-color: #e4eaea;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #60c655;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-7d67f26e-791e-46ef-aa77-20a9b7f566c9 .sl-font-style--title { color: #212121; }
.sl-pattern-7d67f26e-791e-46ef-aa77-20a9b7f566c9 .sl-font-style--body { color: #2e2a39; }
.sl-pattern-7d67f26e-791e-46ef-aa77-20a9b7f566c9 .sl-font-style--button { color: #ffffff; }
.sl-pattern-7d67f26e-791e-46ef-aa77-20a9b7f566c9 .sl-font-style--label { color: #2e2a39; }
.sl-pattern-7d67f26e-791e-46ef-aa77-20a9b7f566c9 .sl-button--brand-style {
color: #ffffff;
background-color: #60c655;
}
.sl-pattern-7d67f26e-791e-46ef-aa77-20a9b7f566c9 .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-ab248df5-3cf8-4c47-b7c7-b51abeed256e {
background-color: #000000;
border-style: none;
--sl-gv-bg-color: #000000;
--sl-gv-btn-bg-color: #000000;
}
.sl-pattern-ab248df5-3cf8-4c47-b7c7-b51abeed256e .sl-font-style--title { color: #000000; }
.sl-pattern-ab248df5-3cf8-4c47-b7c7-b51abeed256e .sl-font-style--body { color: #000000; }
.sl-pattern-ab248df5-3cf8-4c47-b7c7-b51abeed256e .sl-font-style--label { color: #000000; }
.sl-pattern-ab248df5-3cf8-4c47-b7c7-b51abeed256e .sl-button--brand-style {
background-color: #000000;
}
